body {
    background-color: #f2f2f2!important;
}

a {
    text-decoration: none;
}

#main-container {
    width: 1200px;
    min-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
}

#main-left {
    width: calc(70% - 20px);
    float: left;
    box-sizing: border-box;
}

#main-right {
    width: 30%;
    float: right;
}

.show-main-header {
    position: relative;
    margin: 0 0 16px;
    padding: 30px 30px 0;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
    overflow: hidden;
}

.main-header-icon {
    text-align: center;
    float: left;
    position: relative;
    width: 180px;
}

.header-icon-body,
.header-icon-body img {
    width: 100%;
}

.main-header-rec {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
}

.main-header-rec span {
    padding: 3px 14px;
    background-color: #b4ebfa;
    border-radius: 15px;
    font-size: 12px;
    color: #14B9C8;
}

.main-header-text {
    float: left;
    margin-left: 40px;
    position: relative;
    right: 0px;
    min-height: 180px;
    margin-bottom: 30px;
    width: calc(100% - 220px);
}

.base-info-wrap {
    width: 384px;
    min-height: 100px;
}

.app-rating-block {
    display: inline-block;
    height: 70px;
    width: 70px;
    background: url(/images/iconfont/rating.png) no-repeat;
    background-size: 100%;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: -10px;
}

.app-rating-container {
    width: inherit;
    height: inherit;
    position: relative;
    display: inline-block;
}

.main-header-game-name {
    display: inline-block;
    margin: 0;
    line-height: 30px;
    max-height: 60px;
    vertical-align: top;
    font-size: 24px;
    overflow: hidden;
    max-width: 90%;
}

.main-header-game-name small {
    line-height: 16px !important;
    margin-left: 4px;
}

.taptap-app-area {
    line-height: 16px;
    vertical-align: text-top;
    margin-left: 4px;
}

.text-download-text {
    margin: 0;
    color: #666;
    overflow: hidden;
    padding-bottom: 5px;
}

.js-taptap-button-friendship {
    background: 0 0;
    border-color: transparent;
    float: left;
    padding-left: 0;
    padding-right: 8px;
    min-width: 64px;
    font-family: "Microsoft YaHei", Tahoma, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

.app {
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 5px;
}

.app-data-wrap {
    float: left;
    margin-right: 10px;
    display: block;
    line-height: 20px;
}

.taptap-button-download {
    float: left;
    position: relative;
    box-sizing: border-box;
    display: block;
}

.taptap-button-download button {
    padding: 7px 15px;
    min-width: 125px;
    line-height: 24px;
    font-size: 14px;
    font-family: "Microsoft YaHei", Tahoma, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif !important;
    border-color: #12A7B4;
    background: #12A7B4;
    border-radius: 3px;
    box-shadow: none;
    margin-right: 10px;
}

.taptap-button-download button span {
    font-size: 14px;
    font-family: "Microsoft YaHei", Tahoma, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif !important;
    color: #fff;
}

.main-header-tab {
    margin: 0 -30px;
    clear: both;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    background: #fff;
}

.nav-justified {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
    padding: 0;
}

.nav-justified li {
    display: table-cell;
    width: 1%;
    float: none;
    position: relative;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #eeeeee;
}

.nav-justified li:last-child {
    border-right: 0px;
}

.nav-justified li a {
    color: #14B9C8;
    position: relative;
    padding: 12px 11px;
    line-height: 25px;
    max-height: 49px;
    font-size: 18px;
    border-radius: 0;
    background: 0 0;
}

.follow {
    color: #12A7B4;
}

.description {
    float: left;
}

.text-download-text {
    height: 32px !important;
}

.text-hints {
    float: right;
}

.header-text-author,
.header-text-author:hover {
    text-decoration: none;
}

.header-text-author span {
    font-size: 12px;
    color: #14B9C8;
    line-height: 18px;
}

.app-rating-score {
    position: absolute;
    width: inherit;
    display: inline-block;
    top: 62%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    left: 0;
    margin-top: -4px;
    text-align: center;
    font-size: 30px;
    letter-spacing: -.73px;
    font-family: PingFangSC-Medium, "MicroSoft YaHei", sans-serif;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0, 140, 160, .66);
    -webkit-font-smoothing: antialiased;
}

.social-spread-wechat {
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
    overflow: visible;
}

#side-code {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
}

.spread-logo-wrap {
    width: 100%;
}

.social-spread-wechat div {
    display: inline-block;
    padding: 5px 0 0;
}

#side-icon-title {
    color: #14B9C8;
    font-size: 22px;
    font-weight: 700;
    display: block;
    padding-top: 0 !important;
}

.spread-wechat-divide {
    font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 5px;
}

.list-inline li {
    float: left;
}

.social-spread-wechat {
    margin-bottom: 15px;
}

.section-title {
    margin: 0 0 15px;
    border-bottom: 1px solid #ddd;
    height: 30px;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    font-size: 14px;
}

.section-title h3 {
    float: left;
    margin: 0 0 10px;
    padding: 0 0 0 8px;
    line-height: 20px;
    font-size: 18px;
    border-left: 4px solid #14B9C8;
    font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
    font-weight: 400;
}

.pull-right {
    line-height: 20px;
    color: #14B9C8;
    float: right !important;
}

.show-side-body {
    margin: 0 0 20px;
    padding: 15px 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
}

.game-detail-side-item {
    box-sizing: border-box;
    float: none;
    margin: 0 0 10px;
    padding: 0 0 10px;
    width: 300px;
    border-bottom: 1px solid #eee;
}

.side-item-left {
    float: left;
    display: block;
    max-width: 90px;
    max-height: 90px;
    color: #333;
}

.side-item-left img {
    height: 90px;
    width: 90px;
}

.item-right-title {
    margin-bottom: 10px;
}

.side-item-right {
    margin-left: 105px;
    padding: 10px 0 0;
    height: 90px;
}

.flex-text {
    -webkit-box-flex: 1;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 10px;
}

.item-right-label a {
    float: left;
}

.right-label-rating {
    display: block;
    margin: 2px 0 0;
    line-height: 15px;
    color: #999;
    float: right !important;
}

/*详情页样式修正*/
body {
    background-color: #f2f2f2;
}

.review-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    width: 688px;
}

.review-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    width: 688px;
}

.review-item {
    padding: 15px 30px;
    border-bottom: 1px solid #eee;
    list-style: none;
}

.review-avatar {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    color: #333;
    background-color: transparent;
}

.review-avatar img {
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.review-text {
    margin-left: 65px;
    padding-top: 5px;
    display: block;
}

.text-header {
    margin-bottom: 3px;
    height: 20px;
    line-height: 20px;
}

.text-score {
    position: relative;
    margin-bottom: 10px;
    height: 14px;
    line-height: 14px;
}

.text-body {
    word-wrap: break-word;
    line-height: 22px;
}

.in-comments {
    position: relative;
    margin-top: 10px;
    display: block;
}

.fave-user {
    float: left;
    display: block;
    white-space: nowrap;
    font-size: 0 !important;
    vertical-align: middle;
}

.user-name {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 3px;
    color: #333;
    text-decoration: none;
}

.fave-user a:hover {
    text-decoration: underline;
}

.icon-verified {
    position: relative;
    width: 14px;
    height: 14px;
    box-sizing: content-box;
    background: 0 0;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}

.icon-verified img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border: 0;
}

.text-header-time {
    float: right;
    line-height: 20px;
    font-size: 12px;
    color: #999;
    background-color: transparent;
    text-decoration: none;
}

.text-header-time span {
    color: #FFAC48;
}

.button-jubao {
    float: right;
    margin-right: 15px;
    padding: 0;
    line-height: 20px;
    color: #999;
    border: none;
    background: 0 0;
    box-shadow: none;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
    outline: none;
}

.button-jubao span:hover {
    text-decoration: underline;
    color: #14B9C8;
}

.colored {
    width: 56px;
    position: absolute;
    top: 0;
    left: -2px;
    display: block;
    height: 14px;
    background: url(/images/iconfont/score.png) repeat-x;
    background-size: 14px;
}

.background {
    float: left;
    margin-left: -2px;
    opacity: .32;
    display: block;
    width: 70px;
    height: 14px;
    background: url(/images/iconfont/background.png) repeat-x;
    background-size: 14px;
}

.text-score-time {
    float: left;
    display: block;
    margin-left: 5px;
    padding: 0 5px 0 0;
    line-height: 14px;
    font-size: 12px;
    color: #999;
}

.text-body {
    margin-bottom: 15px;
    line-height: 22px;
    min-height: 14px;
    margin: 0 0 10px;
}

.text-footer {
    width: 563px;
    height: 25px;
}

.text-footer ul {
    float: right;
    margin: 0 -10px 0 0;
    padding-left: 0;
    list-style: none;
}

.text-footer li {
    float: left;
    margin-right: 5px;
}

.vote {
    padding: 0 7.5px;
    line-height: 24px;
    color: #999;
    border: none;
    background: 0 0;
    box-shadow: none;
    font-size: 12px;
    text-decoration: none;
    border-radius: 6px !important;
    outline: none;
}

.vote-noh {
    padding: 0 7.5px;
    line-height: 24px;
    color: #999;
    border: none;
    background: 0 0;
    box-shadow: none;
    font-size: 12px;
    text-decoration: none;
}

.comment-item {
    padding: 7.5px 0;
}

.comment-item-avatar {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.comment-item-avatar img {
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.comment-item-text {
    position: relative;
    padding-top: 5px;
    margin-left: 55px;
}

.text-header-in {
    display: flex;
    margin-bottom: 10px;
}

.fave-user-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 3px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.fave-user-name:hover {
    text-decoration: underline;
}

.text-body-in p {
    margin-bottom: 15px;
    line-height: 22px;
    min-height: 14px;
    margin: 0 0 10px;
}

.foot-btn {
    width: 518px;
    height: 25px;
    padding-left: 0;
    float: none;
    border: none;
    float: none;
    margin: 0 -10px 0 0;
}

.foot-btn li {
    float: left;
    margin-right: 5px;
    box-sizing: border-box;
    list-style: none;
    line-height: 22px;
}

.icon {
    font-size: 14px;
    width: 15px;
    height: auto;
    margin: 0;
}

.vote:hover {
    color: #999;
    background: #f2f2f2;
}

#review-list-div {
    background-color: #ffffff;
}

.review-title {
    background-color: #ffffff;
    margin-bottom: 0px;
}

.vote i img {
    position: relative;
}

.vote {
    cursor: pointer;
}

.recommend-search-btn {
    float: right !important;
    position: relative;
    top: -30px;
}

.review-title{
    height: 60px!important;
}

ul{
    padding:0!important;
}

.review-ratings-detail ul{
    padding-left: 20px!important;
}
.spread-wechat-divide{
    margin-bottom: 0px!important;
}

.dropdown-toggle{
    margin-top: 7px!important;
}

.social-spread-wechat{
    padding-top: 0px!important;
}
.show-side-body{
    margin-bottom: 0px!important;
}