<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fave Game Admin Game</title>
    <meta name="description" content="后台-游戏管理">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Fave Game"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/amazeui.page.css">

</head>

<body data-type="generalComponents">

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="/assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="am-icon-bell-o"></span> 提醒 <span
                        class="am-badge tpl-badge-success am-round">5</span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-success">5</span> 条提醒</h3><a href="###">全部</a></li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-plus tpl-dropdown-ico-btn-size tpl-badge-success"></span>
                        【预览模块】移动端 查看时 手机、电脑框隐藏。</a>
                        <span class="tpl-dropdown-list-fr">3小时前</span>
                    </li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-check tpl-dropdown-ico-btn-size tpl-badge-danger"></span>
                        移动端，导航条下边距处理</a>
                        <span class="tpl-dropdown-list-fr">15分钟前</span>
                    </li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-warning"></span>
                        追加统计代码</a>
                        <span class="tpl-dropdown-list-fr">2天前</span>
                    </li>
                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="am-icon-comment-o"></span> 消息 <span
                        class="am-badge tpl-badge-danger am-round">9</span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-danger">9</span> 条新消息</h3><a href="###">全部</a></li>
                    <li>
                        <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="/assets/img/user02.png" alt=""> </span>
                            <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> 禁言小张 </span>
                                <span class="tpl-dropdown-content-time">10分钟前 </span>
                                </span>
                            <span class="tpl-dropdown-content-font"> Fave Game 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Fave Game 的成长，则离不开用户的支持。 </span>
                        </a>
                        <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="/assets/img/user03.png" alt=""> </span>
                            <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> Steam </span>
                                <span class="tpl-dropdown-content-time">18分钟前</span>
                                </span>
                            <span class="tpl-dropdown-content-font"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="am-icon-calendar"></span> 进度 <span
                        class="am-badge tpl-badge-primary am-round">4</span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-primary">4</span> 个任务进度</h3><a href="###">全部</a></li>
                    <li>
                        <a href="javascript:;" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">Fave Game 用户中心 v1.2 </span>
                                <span class="percent">45%</span>
                                </span>
                            <span class="progress">
                        <div class="am-progress tpl-progress am-progress-striped"><div
                                class="am-progress-bar am-progress-bar-success" style="width:45%"></div></div>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">新闻内容页 </span>
                                <span class="percent">30%</span>
                                </span>
                            <span class="progress">
                       <div class="am-progress tpl-progress am-progress-striped"><div
                               class="am-progress-bar am-progress-bar-secondary" style="width:30%"></div></div>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">管理中心 </span>
                                <span class="percent">60%</span>
                                </span>
                            <span class="progress">
                        <div class="am-progress tpl-progress am-progress-striped"><div
                                class="am-progress-bar am-progress-bar-warning" style="width:60%"></div></div>
                    </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick">禁言小张</span><span class="tpl-header-list-user-ico"> <img
                        src="/assets/img/user01.png"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="###" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>


<div class="tpl-page-container tpl-page-header-fixed">

    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            Fave Game 列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.html" class="nav-link">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="chart.html" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-bar-chart"></i>
                        <span>数据表</span>
                        <i class="tpl-left-nav-content tpl-badge-danger">
                            12
                        </i>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <!-- 打开状态 a 标签添加 active 即可   -->
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                        <i class="am-icon-table"></i>
                        <span>表格</span>
                        <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display:block">
                        <li>
                            <a href="table-font-list.html">
                                <i class="am-icon-angle-right"></i>
                                <span>文字表格</span>
                                <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>
                            <!-- 打开状态 a 标签添加 active 即可   -->
                            <a href="table-images-list.html" class="active">
                                <i class="am-icon-angle-right"></i>
                                <span>图片表格</span>
                                <i class="tpl-left-nav-content tpl-badge-success">
                                    18
                                </i>

                                <a href="form-news.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>消息列表</span>
                                    <i class="tpl-left-nav-content tpl-badge-primary">
                                        5
                                    </i>
                                </a>

                                <a href="form-news-list.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>文字列表</span>
                                </a>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-wpforms"></i>
                        <span>表单</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="form-amazeui.html">
                                <i class="am-icon-angle-right"></i>
                                <span>Fave Game 表单</span>
                                <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>

                            <a href="form-line.html">
                                <i class="am-icon-angle-right"></i>
                                <span>线条表单</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="login.html" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>登录</span>

                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            Fave Game 文字列表
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">Fave Game </a></li>
            <li class="am-active">游戏管理</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <!--<span class="am-icon-code"></span>--> 列表
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."></div>
                    </div>
                </div>


            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-success js-modal-new">
                                    <span class="am-icon-plus"></span> 新增
                                </button>
                                <button id="btn-checked-list" type="button"
                                        class="am-btn am-btn-default am-btn-secondary">
                                    <span class="am-icon-save"></span> 已审核
                                </button>
                                <button id="btn-unchecked-list" type="button"
                                        class="am-btn am-btn-default am-btn-warning">
                                    <span class="am-icon-archive"></span> 未审核
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select data-am-selected="{btnSize: 'sm'}" th:id="btn-type-list" th:value="-1">
                                <option value="-1">所有类别</option>
                                <option th:each="type:${typeList}" th:value="${type.id}" th:text="${type.gmTypeChName}"
                                        th:selected="${type.id eq queryGame.gmTypeId}" value="option2">单机
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input th:id="input-search-title" th:value="${queryGame.gmName}" type="text"
                                   class="am-form-field">
                            <span class="am-input-group-btn">
            <button th:id="btn-title-list"
                    class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                    type="button"></button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="tpl-table-images">
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-4" th:each="game:${gamePageModelJsm.data.list}">
                            <div class="tpl-table-images-content" style="height: 510px;">
                                <div class="tpl-table-images-content-i-time">发布时间：<span
                                        th:text="${#dates.format(game.gmPubdate,'yyyy-mm-dd')}">2016-09-12</span></div>
                                <div class="tpl-i-title" th:text="${game.gmName}">
                                    这里是游戏标题
                                </div>
                                <a href="javascript:;" class="tpl-table-images-content-i">
                                    <div class="tpl-table-images-content-i-info">
                                            <span class="ico">
                                    <img th:src="@{${game.gmIcon}}" src="/assets/img/user02.png" alt="开发商icon">
                                 </span>

                                    </div>
                                    <span class="tpl-table-images-content-i-shadow"></span>
                                    <img th:class="am-radius" height="255px" th:src="@{${game.gmIcon}}"
                                         src="/assets/img/a1.png"
                                         alt="游戏icon">
                                </a>
                                <div class="tpl-table-images-content-block">
                                    <div class="tpl-i-font" th:text="${game.gmDetail}">
                                        这里是游戏简介
                                    </div>
                                    <div class="tpl-i-more">
                                        <ul>
                                            <li><span class="am-icon-star am-text-warning"> 收藏数<span
                                                    th:text="${game.countCollector}">123</span>+</span></li>
                                            <li><span class="am-icon-heart am-text-success"> 预约数<span
                                                    th:text="${game.countAttentrion}">123</span>+</span></li>
                                            <li><span class="am-icon-github font-green"> 价格<span
                                                    th:text="${game.gmPrice}">123</span>+</span></li>
                                        </ul>
                                    </div>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn row-line-spaceBetween">
                                            <button type="button"
                                                    class="am-btn am-btn-default am-btn-secondary js-modal-edit"
                                                    th:value="${game.id}"><span
                                                    class="am-icon-edit"></span> 编辑
                                            </button>
                                            <button type="button"
                                                    class="am-btn am-btn-default am-btn-warning js-modal-check"
                                                    th:value="${game.id}"><span
                                                    class="am-icon-archive"></span> 审核
                                            </button>
                                            <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                                    class="am-icon-trash-o"></span> 删除
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--分页-->
                        <div class="am-u-lg-12">
                            <div class="am-cf">
                                <div class="am-fr" id="pageBar">
                                </div>
                            </div>
                            <hr>
                        </div>

                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>

    </div>

    <!--新增/修改模态框saveOrUpdate-->
    <div class="am-popup" id="saveOrUpdate">
        <div class="am-popup-inner">
            <div class="am-popup-hd">
                <h4 class="am-popup-title">
                    <!--表单标题-->
                    <div class="portlet-title">
                        <div class="caption font-green bold">
                            <!-- <span class="am-icon-code"></span>--> 填写内容
                        </div>
                    </div>
                </h4>
                <span data-am-modal-close
                      class="am-close">&times;</span>
            </div>
            <div class="am-popup-bd" style="padding: 0;">
                <!--模态框body开始-->
                <div class="tpl-portlet-components">
                    <div class="tpl-block">

                        <div class="am-g">
                            <div class="tpl-form-body tpl-form-line">
                                <form class="am-form tpl-form-line-form">
                                    <input th:type="hidden" th:id="id-id" th:name="id"/><!--隐藏域用于更新操作-->
                                    <!--游戏名-->
                                    <div class="am-form-group">
                                        <label for="id-gmName" class="am-u-sm-3 am-form-label">游戏名 <span
                                                class="tpl-form-line-small-title">GameName</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" th:name="gmName" id="id-gmName"
                                                   placeholder="请输入游戏名称">
                                            <small>游戏名必填</small>
                                        </div>
                                    </div>
                                    <!--游戏版本号-->
                                    <div class="am-form-group">
                                        <label for="id-gmVersion" class="am-u-sm-3 am-form-label">发行版本 <span
                                                class="tpl-form-line-small-title">Version</span></label>
                                        <div class="am-u-sm-9">
                                            <input th:name="gmVersion" id="id-gmVersion" type="text"
                                                   placeholder="输入发行的版本号">
                                            <small>版本号必填</small>
                                        </div>
                                    </div>
                                    <!--游戏类型-->
                                    <div class="am-form-group">
                                        <label for="id-gmTypeId" class="am-u-sm-3 am-form-label">游戏类型 <span
                                                class="tpl-form-line-small-title">Type</span></label>
                                        <div class="am-u-sm-9">
                                            <select th:name="gmTypeId" id="id-gmTypeId"
                                                    data-am-selected="{searchBox: 1}">
                                                <option value="-1">请选择一个类别</option>
                                                <option th:each="type:${typeList}" th:value="${type.id}"
                                                        th:text="${type.gmTypeChName}">单机
                                                </option>
                                            </select>
                                            <small>游戏类型必选</small>
                                        </div>
                                    </div>
                                    <!--发行商-->
                                    <div class="am-form-group">
                                        <label for="id-gmPublisherId" class="am-u-sm-3 am-form-label">发行商 <span
                                                class="tpl-form-line-small-title">Publisher</span></label>
                                        <div class="am-u-sm-9">
                                            <select th:name="gmPublisherId" id="id-gmPublisherId"
                                                    data-am-selected="{searchBox: 1}">
                                                <option value="a">发行商select</option>
                                            </select>
                                            <small>发行商必选</small>
                                        </div>
                                    </div>
                                    <!--发布时间-->
                                    <div class="am-form-group">
                                        <label for="id-gmPubdate" class="am-u-sm-3 am-form-label">发布时间 <span
                                                class="tpl-form-line-small-title">Time</span></label>
                                        <div class="am-u-sm-9">
                                            <input th:name="gmPubdate" id="id-gmPubdate" type="text"
                                                   class="am-form-field tpl-form-no-bg" placeholder="发布时间"
                                                   data-am-datepicker="" readonly/>
                                            <small>发布时间必填</small>
                                        </div>
                                    </div>
                                    <!--运营商-->
                                    <div class="am-form-group">
                                        <label for="id-gmOperatorId" class="am-u-sm-3 am-form-label">运营商 <span
                                                class="tpl-form-line-small-title">Operator</span></label>
                                        <div class="am-u-sm-9">
                                            <select th:name="gmOperatorId" id="id-gmOperatorId"
                                                    data-am-selected="{searchBox: 1}">
                                                <option value="a">运营商select</option>
                                            </select>
                                            <small>运营商可选</small>
                                        </div>
                                    </div>
                                    <!--付费开关-->
                                    <div class="am-form-group">
                                        <label for="id-gmFree" class="am-u-sm-3 am-form-label">是否付费 <span
                                                class="tpl-form-line-small-title">Fee</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="tpl-switch">
                                                <input th:name="gmFree" id="id-gmFree" type="checkbox"
                                                       class="ios-switch bigswitch tpl-switch-btn"
                                                       style="width: 100%;height: 100%;"/>
                                                <div class="tpl-switch-btn-view">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--付费金额的模态框，当付费开关开启时，要求输入金额-->
                                    <div class="am-modal am-modal-prompt" tabindex="-1" id="id-gmPrice-modal">
                                        <div class="am-modal-dialog">
                                            <div class="am-modal-hd">请输入金额</div>
                                            <div class="am-modal-bd">
                                                <input th:name="gmPrice" id="id-gmPrice" type="text"
                                                       class="am-modal-prompt-input">
                                            </div>
                                            <div class="am-modal-footer">
                                                <span class="am-modal-btn" data-am-modal-cancel>还是免费吧</span>
                                                <span class="am-modal-btn" data-am-modal-confirm>加钱!</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--安卓开关-->
                                    <div class="am-form-group">
                                        <label for="id-gmPlatformIsAndroid" class="am-u-sm-3 am-form-label">安卓 <span
                                                class="tpl-form-line-small-title">Android</span></label>
                                        <div class="am-u-sm-9" style="display: flex;">
                                            <div class="tpl-switch">
                                                <input th:name="gmPlatformIsAndroid" id="id-gmPlatformIsAndroid"
                                                       type="checkbox" class="ios-switch bigswitch tpl-switch-btn"
                                                       style="width: 100%;height: 100%;"/>
                                                <div class="tpl-switch-btn-view">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--安卓安装包上传-->
                                            <div class="am-form-group am-form-file my-hidden"
                                                 style="margin-left: 20px;">
                                                <div>
                                                    <button type="button" class="am-btn am-btn-default am-btn-sm">
                                                        <i class="am-icon-cloud-upload"></i> <span
                                                            id="id-fileupload-rename">选择要上传的文件</span></button>
                                                </div>
                                                <input type="file" id="id-android-upload">
                                                <input type="hidden" id="id-gmAndroidUrl" th:name="gmAndroidUrl">
                                            </div>
                                        </div>
                                    </div>
                                    <!--IOS开关-->
                                    <div class="am-form-group">
                                        <label for="id-gmPlatformIsIOS" class="am-u-sm-3 am-form-label">IOS <span
                                                class="tpl-form-line-small-title">IOS</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="tpl-switch">
                                                <input th:name="gmPlatformIsIOS" id="id-gmPlatformIsIOS" type="checkbox"
                                                       class="ios-switch bigswitch tpl-switch-btn"
                                                       style="width: 100%;height: 100%;"/>
                                                <div class="tpl-switch-btn-view">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--IOS地址的模态框-->
                                    <div class="am-modal am-modal-prompt" tabindex="-1" id="id-gmIOSUrl-modal">
                                        <div class="am-modal-dialog">
                                            <div class="am-modal-hd">请输入游戏IOS商店地址</div>
                                            <div class="am-modal-bd">
                                                <input th:name="gmIOSUrl" id="id-gmIOSUrl" type="text"
                                                       class="am-modal-prompt-input">
                                            </div>
                                            <div class="am-modal-footer">
                                                <span class="am-modal-btn" data-am-modal-cancel>算了,不填了</span>
                                                <span class="am-modal-btn" data-am-modal-confirm>哼哼~</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--游戏运行配置-->
                                    <div class="am-form-group">
                                        <label for="id-gmRunenv" class="am-u-sm-3 am-form-label">运行配置 <span
                                                class="tpl-form-line-small-title">EnvConf</span></label>
                                        <div class="am-u-sm-9">
                                            <input th:name="gmRunenv" id="id-gmRunenv" type="text"
                                                   placeholder="输入游戏运行配置">
                                            <small>运行配置可选</small>
                                        </div>
                                    </div>
                                    <!--游戏Icon-->
                                    <div class="am-form-group">
                                        <label for="id-gmIcon" class="am-u-sm-3 am-form-label">封面图 <span
                                                class="tpl-form-line-small-title">Icon</span></label>
                                        <input th:name="gmIcon" id="id-gmIcon" type="hidden"><!--隐藏表单,存放icon地址-->
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <div class="tpl-form-file-img">
                                                    <img id="id-reShow-img" src="http://pspq953ox.bkt.clouddn.com/214.jpg" alt="">
                                                </div>
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm" id="id-btn-addIcon">
                                                    <i class="am-icon-cloud-upload"></i> 添加封面图片
                                                </button>
                                                <input id="id-upload-icon" type="file">
                                            </div>
                                        </div>
                                    </div>
                                    <!--介绍视频和图片-->
                                    <div class="am-form-group">
                                        <label for="id-gmIntroMedia" class="am-u-sm-3 am-form-label">封面图 <span
                                                class="tpl-form-line-small-title">Icon</span></label>
                                        <input th:name="gmIntroMedia" id="id-gmIntroMedia" type="hidden"><!--隐藏表单,存放gmIntroMedia地址-->
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <input id="id-upload-icon" type="file">
                                            </div>
                                        </div>
                                    </div>

                                    <!--游戏详情-->
                                    <div class="am-form-group">
                                        <label for="id-gmDetail" class="am-u-sm-3 am-form-label">游戏详情 <span
                                                class="tpl-form-line-small-title">Detail</span></label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="10" id="id-gmDetail" th:name="gmDetail"
                                                      placeholder="请输入游戏内容"></textarea>
                                        </div>
                                    </div>
                                    <!--提交按钮-->
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit"
                                                    class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<!--我自己引用的js插件-->
<script type="text/javascript" src="/assets/js/amazeui.page.js"></script>
<link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css"/>
<script type="text/javascript" src="/js/gritter/js/jquery.gritter.js"></script>
<script src="https://unpkg.com/qiniu-js@2.5.4/dist/qiniu.min.js"></script>
<script src="/js/common.js"></script>
<script th:inline="javascript">
    //初始化跳转路径,处理分页多条件组合逻辑
    var url = "/admin/game?page=%page%";
    //处理跳转逻辑,组合查询条件
    var gethandleSearchUrl = function (url) {
        //判断已审核和未审核
        if ([[${queryGame.isValid}]] != 1 && url.indexOf("&isValid=0") == -1) {
            url = url + "&isValid=0";
        }
        //判断游戏类型
        if ([[${queryGame.gmTypeId}]] != null && url.indexOf("gmTypeId") == -1) {
            url = url + "&gmTypeId=" + [[${queryGame.gmTypeId}]];
        }
        //判断用于搜索的游戏名称
        if ([[${queryGame.gmName}]] != null && [[${queryGame.gmName}]] != "" && url.indexOf("gmName") == -1) {
            url = url + "&gmName=" + [[${queryGame.gmName}]];
        }
        return url;
    }

    //分页控件
    var page = $("#pageBar").page({
        pages: [[${gamePageModelJsm.data.totalPage}]],
        curr: [[${gamePageModelJsm.data.currPage}]],
        groups: 5,
        prev: false,
        next: false,
        first: "‹‹",
        last: "››",
        before: function (context, next) {
            //指定跳转路径
            this.jump = gethandleSearchUrl(url);
            next();
        },
        jump: url,
        theme: "am-pagination tpl-pagination",
    });

    $(function () {
        // 搜索触发事件
        //搜索已审核
        $("#btn-checked-list").click(function () {
            var innerUrl = "/admin/game?isValid=1";
            innerUrl = gethandleSearchUrl(innerUrl);
            window.location.href = innerUrl;
        });
        //搜索未审核
        $("#btn-unchecked-list").click(function () {
            var innerUrl = "/admin/game?isValid=0";
            innerUrl = gethandleSearchUrl(innerUrl);
            window.location.href = innerUrl;
        });
        //搜索类型
        $("#btn-type-list").on("change", function () {
            //console.log(this.value);
            var innerUrl = "/admin/game?gmTypeId=" + this.value;
            innerUrl = gethandleSearchUrl(innerUrl);
            window.location.href = innerUrl;
        });
        //搜索名称
        $("#btn-title-list").on("click", function () {
            var gmName = $("#input-search-title").val();
            var innerUrl = "/admin/game?gmName=" + gmName;
            innerUrl = gethandleSearchUrl(innerUrl);
            window.location.href = innerUrl;
        });

        //模态窗口按钮监听处理
        var $modal = $('#saveOrUpdate');
        //siblings用于选择样式绑定的事件处理
        $(".am-btn").siblings().on("click", function (e) {
            var $target = $(e.target);
            //console.log($target);
            //处理新增操作
            if (($target).hasClass('js-modal-new')) {
                //取消父modal关闭监听,用于子modal的打开关闭操作
                $modal.modal({
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    closeViaDimmer:false,
                });
                handlePublisher();
                handleOperator();
            }
            //处理编辑操作
            else if (($target).hasClass('js-modal-edit')) {
                console.log("编辑触发,id:" + $target.context.value);
            }
            //处理审核操作
            else if (($target).hasClass('js-modal-check')) {
                console.log("审核触发,id:" + $target.context.value);
            }
        });

        //处理游戏发行商列表
        function handlePublisher() {
            getAjaxPromise("/admin/game/publisher").then(function (value) {
                if (value.status == 200) {
                    var list = value.data;
                    console.log(list);
                    var $publisherSelect = $("#id-gmPublisherId");
                    $publisherSelect.empty();
                    $publisherSelect.append("<option value='-1'>请选择发行商</option>");
                    for (var i in list) {
                        var option = "<option value=" + list[i].id + ">" + list[i].gmPublisherName + "</option>";
                        $publisherSelect.append(option);
                    }
                } else {
                    showGritter("消息", "发行商列表查询失败,请检查网络!");
                }
            });
        }

        //处理运营商列表
        function handleOperator() {
            getAjaxPromise("/admin/game/operator").then(function (value) {
                if (value.status == 200) {
                    var list = value.data;
                    console.log(list);
                    var $operatorSelect = $("#id-gmOperatorId");
                    $operatorSelect.empty();
                    $operatorSelect.append("<option value='-1'>无</option>");
                    for (var i in list) {
                        var option = "<option value=" + list[i].id + ">" + list[i].gmOperatorName + "</option>";
                        $operatorSelect.append(option);
                    }
                } else {
                    showGritter("消息", "运营商列表查询失败,请检查网络!");
                }
            });
        }

        //付费开关
        $("#id-gmFree").on("change", function () {
            var $switchBtn = $(this);
            if ($switchBtn.prop("checked")) {
                $('#id-gmPrice-modal').modal({
                    relatedTarget: this,
                    onConfirm: function (e) {
                        $switchBtn.val(1);//表示收费状态
                        $switchBtn.parent().after("<span style='position: absolute;left:101px;top:3px;'>￥" + e.data + "</span>");//确认后将金额回显
                    },
                    onCancel: function (e) {
                        $switchBtn.removeAttr("checked");
                        $switchBtn.val(0);//表示免费状态
                        $("#id-gmPrice").val("");//将价格置空
                    }
                });
            } else {
                console.log("免费了");
                $("#id-gmPrice").val("");//将价格置空
                $switchBtn.parent().parent().children("span").remove();
            }
        });
        //安卓开关
        $("#id-gmPlatformIsAndroid").on("change", function () {
            var $switchBtn = $(this);
            $("#id-android-upload").parent().toggleClass("my-hidden");//开启/关闭安卓下载地址显示
            //取消选择清空下载地址
            if (!$switchBtn.prop("checked")) {
                console.log("无安卓版本");
                $("#id-gmAndroidUrl").val("");//将下载地址置空
                $switchBtn.val(0);//表示不存在安卓版本
            }else{
                $switchBtn.val(1);//表示存在安卓版本
            }
        });
        //监听安卓文件上传
        $("#id-android-upload").on("change", function () {
            var fileName = $(this).val();
            if (fileName == null || fileName == "") return;
            var promiseObj = handleUploadUrl("/admin/game/QiniuUpToken", this, $("#id-fileupload-rename"), null, $("#id-gmAndroidUrl"));
            promiseObj.then(function (value) {
                console.log(value);
                console.log("安卓地址已设置:"+$("#id-gmAndroidUrl").val());
            })
        });
        //IOS开关
        $("#id-gmPlatformIsIOS").on("change", function () {
            var $switchBtn = $(this);
            if ($switchBtn.prop("checked")) {
                $('#id-gmIOSUrl-modal').modal({
                    relatedTarget: this,
                    onConfirm: function (e) {
                        $switchBtn.val(1);//表示存在IOS版本
                        $switchBtn.parent().after("<span style='position: absolute;left:101px;top:3px;'>IOS地址已设置</span>");//确认后将IOS地址
                    },
                    onCancel: function (e) {
                        $switchBtn.removeAttr("checked");
                        $switchBtn.val(0);//表示不存在IOS版本
                        $("#id-gmIOSUrl").val("");//将IOS地址置空
                    }
                });
            } else {
                console.log("无IOS版本");
                $("#id-gmIOSUrl").val("");//将IOS地址置空
                $switchBtn.parent().parent().children("span").remove();
            }
        });

        //监听Icon图片上传
        $("#id-upload-icon").on("change",function () {
            var fileName = $(this).val();
            if (fileName == null || fileName == "") return;
            var promiseObj = handleUploadUrl("/admin/game/QiniuUpToken", this, null, $("#id-reShow-img"), $("#id-gmIcon"));
            promiseObj.then(function (value) {
                //隐藏上传按钮
                $("#id-btn-addIcon").addClass("my-hidden");
                console.log(value);
                console.log("游戏Icon地址已设置:"+$("#id-gmIcon").val());
            })
        })


    });
</script>

</body>

</html>