<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common::commonHeader('Fave Game Admin',~{::title},~{::link})">
    <title>管理员登录</title>
    <!--当前页面css-->
    <link>
</head>
<body data-type="login">
<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                Fave Game<span> Login</span> <i class="am-icon-skyatlas"></i>
            </div>
        </div>
        <div class="login-font">
            <i>Log In </i> or <span> Sign Up</span>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form" action="/admin/login" method="post">
                <fieldset>
                    <div class="am-form-group">
                        <input name="username" type="text" class="" id="doc-ipt-email-1" placeholder="请输入管理员名">
                    </div>
                    <div class="am-form-group">
                        <input name="password" type="password" class="" id="doc-ipt-pwd-1" placeholder="请输入密码">
                    </div>
                    <p>
                        <button type="submit" class="am-btn am-btn-default">登录</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!--js-->
<div th:replace="commons/common::commonJS(~{::script})">
    <script />
</div>
</body>
</html>