<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common::commonHeader('Fave Game Admin',~{::title},~{::link})">
    <title>运营商管理</title>
    <!--当前页面css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body data-type="generalComponents">
<!--公共导航条-->
<div th:replace="commons/common::commonBar"></div>
<!--页面主体-->
<div class="tpl-page-container tpl-page-header-fixed">
    <!--公共内容左侧边栏-->
    <div th:replace="commons/common::commonLeftBar"></div>
    <!--页面自定义内容-->
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            Fave Game 运营商管理
        </div>
        <div th:replace="commons/common::commonMiniNavi(~{::li.am-active})">
            <li class="am-active">运营商管理</li>
        </div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <!-- <span class="am-icon-code"></span>-->列表
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."></div>
                    </div>
                </div>

            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-success" data-toggle="modal"
                                        data-target="#addModal"><span class="am-icon-plus"></span> 新增
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-secondary"><span
                                        class="am-icon-save"></span> 保存
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-warning"><span
                                        class="am-icon-archive"></span> 审核
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                        class="am-icon-trash-o"></span> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select data-am-selected="{btnSize: 'sm'}">
                                <option value="option1">所有类别</option>
                                <option value="option2">单机</option>
                                <option value="option3">角色扮演</option>
                                <option value="option3">动作</option>
                                <option value="option3">MOBA</option>
                                <option value="option3">策略</option>
                                <option value="option3">卡牌</option>
                                <option value="option3">生存</option>
                                <option value="option3">模拟</option>
                                <option value="option3">竞速</option>
                                <option value="option3">益智</option>
                                <option value="option3">二次元</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                    type="button"></button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">运营商</th>
                                    <th class="table-type">主页</th>
                                    <th class="table-author am-hide-sm-only">老板</th>
                                    <th class="table-date am-hide-sm-only">创建日期</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="operator:${list}">
                                    <td><input type="checkbox"/></td>
                                    <td th:text="${operator.id}"></td>
                                    <td th:text="${operator.gmOperatorName}"></td>
                                    <td th:text="${operator.gmOperatorWebsite}"></td>
                                    <td th:text="${operator.gmOperatorLinkman}"></td>
                                    <td th:text="${#dates.format(operator.createTime,'yyyy-MM-dd')}"></td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button"
                                                        class="am-btn am-btn-default am-btn-xs am-text-secondary btn-update-Oper"
                                                        data-toggle="modal" data-target="#updateModal"><span
                                                        class="am-icon-pencil-square-o"></span>编辑
                                                </button>
                                                <button type="button"
                                                        class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-delete-Oper">
                                                    <span class="am-icon-trash-o"></span>删除
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="am-cf">

                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li class="am-disabled">
                                            <a href="#">«</a>
                                        </li>
                                        <li class="am-active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                            <a href="#">»</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>

    </div>
    <!--新增模态框-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增运营商</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputOpName">运营商名称</label>
                        <input type="text" class="form-control Op-add-Name" placeholder="OperatorName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpAddress">运营商地址</label>
                        <input type="text" class="form-control Op-add-Address" placeholder="OperatorAddress">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpWeb">运营商主页</label>
                        <input type="text" class="form-control Op-add-Web" placeholder="OperatorWeb">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpIntro">运营商简介</label>
                        <input type="text" class="form-control Op-add-Intro" placeholder="OperatorIntro">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpLinkman">运营商负责人</label>
                        <input type="text" class="form-control Op-add-Linkman" placeholder="OperatorLinkman">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpPhone">运营商电话</label>
                        <input type="tel" class="form-control Op-add-Phone" placeholder="OperatorPhone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpAlipay">运营商支付宝</label>
                        <input type="text" class="form-control Op-add-Alipay" placeholder="OperatorAlipay">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpWechat">运营商微信</label>
                        <input type="text" class="form-control Op-add-Wechat" placeholder="OperatorWechat">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpCredit">运营商银行卡号</label>
                        <input type="text" class="form-control Op-add-Credit" placeholder="OperatorCredit">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-add-Oper">添加运营商</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!--修改模态框-->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改运营商信息</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputOpName">运营商名称</label>
                        <input type="text" class="form-control Op-update-Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpAddress">运营商地址</label>
                        <input type="text" class="form-control Op-update-Address">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpWeb">运营商主页</label>
                        <input type="text" class="form-control Op-update-Web">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpIntro">运营商简介</label>
                        <input type="text" class="form-control Op-update-Intro">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpLinkman">运营商负责人</label>
                        <input type="text" class="form-control Op-update-Linkman">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpPhone">运营商电话</label>
                        <input type="tel" class="form-control Op-update-Phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpAlipay">运营商支付宝</label>
                        <input type="text" class="form-control Op-update-Alipay">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpWechat">运营商微信</label>
                        <input type="text" class="form-control Op-update-Wechat">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputOpCredit">运营商银行卡号</label>
                        <input type="text" class="form-control Op-update-Credit">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-update-Oper-conf">提交更改</button>
                    <input type="text" id="oper-update-id" style="display: none;"/>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<!--js-->
<div th:replace="commons/common::commonJS(~{::script})">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".btn-add-Oper").click(function () {
                var operator = {};
                operator.gmOperatorName = $(".Op-add-Name").val();
                operator.gmOperatorAddress = $(".Op-add-Address").val();
                operator.gmOperatorWebsite = $(".Op-add-Web").val();
                operator.gmOperatorIntro = $(".Op-add-Intro").val();
                operator.gmOperatorLinkman = $(".Op-add-Linkman").val();
                operator.gmOperatorPhone = $(".Op-add-Phone").val();
                operator.gmOperatorAlipay = $(".Op-add-Alipay").val();
                operator.gmOperatorWechat = $(".Op-add-Wechat").val();
                operator.gmOperatorCredit = $(".Op-add-Credit").val();
                console.log(operator);
                JSON.stringify(operator);
                $.ajax({
                    type: "get",
                    url: "save",
                    data: operator,
                    cache: false,
                    success: function (back) {
                        alert("添加成功");
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });

            $(".btn-update-Oper").click(function () {
                var info = $(this).parent().parent().parent().parent();
                var id = info.children()[1].innerText;
                var operator = {};
                $("#oper-update-id").val(id);
                operator.id = id;
                console.log(operator);
                JSON.stringify(operator);
                $.ajax({
                    type: "get",
                    url: "update",
                    data: operator,
                    cache: false,
                    success: function (back) {
                        var data = back.data;
                        console.log(data);
                        $(".Op-update-Name").val(data.gmOperatorName);
                        $(".Op-update-Address").val(data.gmOperatorAddress);
                        $(".Op-update-Web").val(data.gmOperatorWebsite);
                        $(".Op-update-Intro").val(data.gmOperatorIntro);
                        $(".Op-update-Linkman").val(data.gmOperatorLinkman);
                        $(".Op-update-Phone").val(data.gmOperatorPhone);
                        $(".Op-update-Alipay").val(data.gmOperatorAlipay);
                        $(".Op-update-Wechat").val(data.gmOperatorWechat);
                        $(".Op-update-Credit").val(data.gmOperatorCredit);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("error");
                    }
                });

            });

            $(".btn-update-Oper-conf").click(function () {
                var operator = {};
                operator.id = $("#oper-update-id").val();
                operator.gmOperatorName = $(".Op-update-Name").val();
                operator.gmOperatorAddress = $(".Op-update-Address").val();
                operator.gmOperatorWebsite = $(".Op-update-Web").val();
                operator.gmOperatorIntro = $(".Op-update-Intro").val();
                operator.gmOperatorLinkman = $(".Op-update-Linkman").val();
                operator.gmOperatorPhone = $(".Op-update-Phone").val();
                operator.gmOperatorAlipay = $(".Op-update-Alipay").val();
                operator.gmOperatorWechat = $(".Op-update-Wechat").val();
                operator.gmOperatorCredit = $(".Op-update-Credit").val();
                console.log(operator);
                JSON.stringify(operator);
                $.ajax({
                    type: "get",
                    url: "updateConf",
                    data: operator,
                    cache: false,
                    success: function (back) {
                        alert("修改成功");
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });

            $(".btn-delete-Oper").click(function () {
                var info = $(this).parent().parent().parent().parent();
                var id = info.children()[1].innerText;
                var operator = {};
                operator.id = id;
                JSON.stringify(operator);
                console.log(operator);
                $.ajax({
                    type: "get",
                    url: "delete",
                    data: operator,
                    cache: false,
                    success: function (data) {
                        alert("删除成功！");
                        console.log(data);
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>