<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common::commonHeaderWithStyle('Fave Game Admin',~{::title},~{::link},~{::style})">
    <title>订单管理</title>
    <!--当前页面css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--自定义样式-->
    <style>
        .table-id {
            width: 100px;
        }
        .select {
            display: inline;
            position: relative;

            height: 30px;
            background-color: lightsteelblue;
        }
        .am-u-md-3 {
            width: 25%;
            position: relative;

        }
    </style>
</head>
<body data-type="generalComponents">
<!--公共导航条-->
<div th:replace="commons/common::commonBar"></div>
<!--页面主体-->
<div class="tpl-page-container tpl-page-header-fixed">
    <!--公共内容左侧边栏-->
    <div th:replace="commons/common::commonLeftBar"></div>
    <!--页面自定义内容-->
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            Fave Game 订单管理
        </div>
        <div th:replace="commons/common::commonMiniNavi(~{::li#id-user-manager})">
            <li class="am-active" id="id-user-manager">订单管理</li>
        </div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <!-- <span class="am-icon-code"></span>-->发行商列表
                </div>

            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-success" data-toggle="modal"
                                        data-target="#myModal"><span class="am-icon-plus"></span>新增
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                        class="am-icon-trash-o"></span> 删除
                                </button>
                                <select class="select">
                                    <option value="1">已完成订单</option>
                                    <option value="0">未完成订单</option>
                                    <option value="2">已关闭订单</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="am-u-sm-12 am-u-md-3">

                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                                            type="button"></button>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"></th>
                                    <th class="table-id">订单ID</th>
                                    <th class="table-title">创建时间</th>
                                    <th class="table-title">订单金额</th>
                                    <th class="table-type">游戏ID</th>
                                    <th class="table-author am-hide-sm-only">用户ID</th>
                                    <th class="table-date am-hide-sm-only">支付方式</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <div>

                                    <tr th:each="list : ${pageInfo.getRecords()}">

                                        <td><input type="checkbox"></td>
                                        <td th:text="${list.gmOrderId}"></td>
                                        <td th:text="${#dates.format(list.createTime, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${list.gmOrderPrice}"></td>
                                        <td th:text="${list.gmGameId}"></td>
                                        <td th:text="${list.gmPurchaserId}"></td>
                                        <td th:text="${list.gmPayment}"></td>
                                        <td hidden="hidden" th:text="${list.id}"></td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button type="button"
                                                            class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                                            data-toggle="modal" th:value="${list.id}"
                                                            data-target="#myModal1"> 编辑
                                                    </button>
                                                    <button type="button"
                                                            class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                                            th:value="${list.id}">删除
                                                    </button>
                                                    <button class="examSuccess" hidden="hidden"><span
                                                            class="am-icon-copy"></span> 审核通过
                                                    </button>

                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </div>

                                </tbody>
                            </table>

                            <div id="Page" style="margin:0 auto;display:table;"></div>
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>

    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <input style="width: 100%;" class="modal-body" placeholder="订单编号" id="gmOrderId" name="gmOrderId"/>
                <input style="width: 100%;" class="modal-body" placeholder="订单金额" id="gmOrderPrice" name="gmOrderPrice"/>
                <input style="width: 100%;" class="modal-body" placeholder="支付方式" id="gmPayment" name="gmPayment"/>
                <input style="width: 100%;" class="modal-body" placeholder="游戏ID" id="gmGameId" name="gmGameId"/>
                <input style="width: 100%;" class="modal-body" placeholder="用户ID" id="gmPurchaserId" name="gmPurchaserId"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="orderId1"></div>
                <input style="width: 100%;" class="modal-body" placeholder="订单金额" id="gmOrderPrice1" name="gmOrderPrice1"/>
                <input style="width: 100%;" class="modal-body" placeholder="游戏ID" id="gmGameId1" name="gmGameId1"/>
                <input style="width: 100%;" class="modal-body" placeholder="用户ID" id="gmPurchaserId1"
                       name="gmPurchaserId1"/>
                <input style="width: 100%;" class="modal-body" placeholder="支付方式" id="gmPayment1" name="gmPayment1"/>
                <input hidden="hidden" style="width: 100%;" class="modal-body" placeholder="订单ID" id="gmorderId1"
                       name="gmorderId1"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary1">提交更改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<!--js-->
<div th:replace="commons/common::commonJS(~{::script})">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        var statue;
        $(function () {
            if ([[${flag}]] != null) {
                $("select").find("option[value='" + [[${flag}]] + "']").attr("selected", "selected");
            }
            statue = $(".select").val();
            var flag = false;
            $("#Page").page({
                pages: [[${pageInfo.pages}]], //总页码数(后台返回字段可以给出)
                first: "首页", //设置false则不显示，默认为false
                last: "尾页", //设置false则不显示，默认为false
                prev: '<', //若不显示，设置false即可，默认为上一页
                next: '>', //若不显示，设置false即可，默认为下一页
                groups: 4, //连续显示分页数
                curr: [[${pageInfo.current}]], //当前页(后台返回当前页码数)
                jump: function (context, first) {
                    if (flag) {
                        var pageNum = String(context.option.curr);
                        window.location.href = "http://localhost:8080/order/classify/" + pageNum + "/" + statue;
                    }
                    flag = true;
                }

            });

        })
        $(".select").change(function () {
            statue = $(".select").val();
            window.location.href = "http://localhost:8080/order/classify/" + 1 + "/" + statue;
        });
        $(".am-btn-danger").click(function () {
            var id = new Array();
            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("finshed") != -1) {
                current = 1;
            } else {
                current = paramArray[length - 2];
            }
            var e = $("tbody").children("tr");
            for (var i = 0; i <= e.length - 1; i++) {
                if ($($(e[i]).children().get(0)).children(":first").is(":checked")) {
                    id.push($($(e[i]).children().get(7)).text());
                }

            }
            $.ajax({
                type: "Post",
                url: "http://localhost:8080/order/deleteBatch",
                data: JSON.stringify(id),
                async: true,
                dataType: "application/json",
                cache: false,
                contentType: "application/json; charset=utf-8", // 不可缺
                processData: false, // 不可缺
                success: function (data) {
                    if (data.status == 200) {
                        window.location.href = "http://localhost:8080/order/classify/" + current + "/" + statue;
                    } else if (data.status == 400) {
                        alert("删除失敗");
                    } else {
                        alert("服务器错误");
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest, textStatus, errorThrown);
                    location.reload();
                }
            });

        })
        $(".am-text-secondary").click(function () {
            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("finshed") != -1) {
                current = 1;
            }
            var e = $(this).parent().parent().parent().parent();
            var son = e.children("td");
            $("#gmOrderPrice1").val($(son[3]).text());
            $("#gmGameId1").val($(son[4]).text());
            $("#gmPurchaserId1").val($(son[5]).text());
            $("#gmPayment1").val($(son[6]).text());
            $("#orderId1").html("订单编号:<span class='GetId'>" + $(son[1]).text() + "</span>");
            $("#gmorderId1").val($(son[7]).text());

        });
        $(".btn-primary1").click(function () {
            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("finshed") != -1) {
                current = 1;
            } else {
                current = paramArray[length - 2];
            }
            var order = {};
            if ([[${flag}]] == 0) {
                order.gmOrderPerformance = 0;
            } else if ([[${flag}]] == 1) {
                order.gmOrderPerformance = 1;
            } else {
                order.gmOrderPerformance = 3;
            }
            order.gmOrderPrice = $("#gmOrderPrice1").val();
            order.gmGameId = $("#gmGameId1").val();
            order.gmPurchaserId = $("#gmPurchaserId1").val();
            order.gmPayment = $("#gmPayment1").val();
            order.gmOrderId = $(".GetId").text();
            var id = $("#gmorderId1").val();
            order.id = id;
            if (order.gmOrderId == "") {
                alert("订单编号不能为空");
            } else if (order.gmOrderPrice == "") {
                alert("订单金额不能为空");
            } else if (order.gmPayment == "") {
                alert("支付方式不能为空");
            } else if (order.gmGameId == "") {
                alert("游戏ID不能为空");
            } else if (order.gmPurchaserId == "") {
                alert("用户ID不能为空");
            } else {
                $.ajax({
                    type: "Post",
                    url: "http://localhost:8080/order/update",
                    data: order,
                    async: true,
                    dataType: "json",
                    success: function (data) {
                        if (data.status == 200) {
                            window.location.href = "http://localhost:8080/order/classify/" + current + "/" + statue;

                        } else if (data.status == 400) {
                            alert("更新失敗");
                        } else {
                            alert("服务器错误");
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest, textStatus, errorThrown);
                        location.reload();
                    }
                });
            }
        })

        $(".am-hide-sm-only").click(function () {
            var id = $(this).val();
            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("finshed") != -1) {
                current = 1;
            }
            else {
                current = paramArray[length - 2];
            }
            window.location.href = "http://localhost:8080/order/delete/" + id + "/" + current + "/" + statue;

        })

        $(".btn-primary").click(function () {

            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("finshed") != -1) {
                current = 1;
            } else {
                current = paramArray[length - 2];
            }
            var order = {};
            if ([[${flag}]] == 0) {
                order.gmOrderPerformance = 0;
            } else if ([[${flag}]] == 1) {
                order.gmOrderPerformance = 1;
            } else {
                order.gmOrderPerformance = 3;
            }
            order.gmOrderPrice = $("#gmOrderPrice").val();
            order.gmGameId = $("#gmGameId").val();
            order.gmPurchaserId = $("#gmPurchaserId").val();
            order.gmPayment = $("#gmPayment").val();
            order.gmOrderId = $("#gmOrderId").val();
            if (order.gmOrderId == "") {
                alert("订单编号不能为空");
            } else if (order.gmOrderPrice == "") {
                alert("订单金额不能为空");
            } else if (order.gmPayment == "") {
                alert("支付方式不能为空");
            } else if (order.gmGameId == "") {
                alert("游戏ID不能为空");
            } else if (order.gmPurchaserId == "") {
                alert("用户ID不能为空");
            } else {
                $.ajax({
                    type: "Post",
                    url: "http://localhost:8080/order/add",
                    data: order,
                    async: true,
                    dataType: "json",
                    success: function (data) {
                        if (data.status == 200) {
                            window.location.href = "http://localhost:8080/order/classify/" + current + "/" + statue;
                        } else if (data.status == 400) {
                            alert("添加失敗");
                        } else {
                            alert("服务器错误");
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("添加失敗");
                        console.log(XMLHttpRequest, textStatus, errorThrown);
                        location.reload();
                    }
                });
            }
        });


    </script>
</div>
</body>
</html>