<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common::commonHeaderWithStyle('Fave Game Admin',~{::title},~{::link},~{::style})">
    <title>发布商管理</title>
    <!--当前页面css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--自定义样式-->
    <style>
        .examSuccess {
            border: 0.2px solid gray;
            color: black;
            background-color: white;
            margin-top: 1px;
            height: 28px;
        }

        .examSuccess:hover {
            color: gray;
        }
    </style>
</head>
<body data-type="generalComponents">
<!--公共导航条-->
<div th:replace="commons/common::commonBar"></div>
<!--页面主体-->
<div class="tpl-page-container tpl-page-header-fixed">
    <!--公共内容左侧边栏-->
    <div th:replace="commons/common::commonLeftBar"></div>
    <!--页面自定义内容-->
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            Fave Game 发布商管理
        </div>
        <div th:replace="commons/common::commonMiniNavi(~{::li#id-user-manager})">
            <li class="am-active" id="id-user-manager">发布商管理</li>
        </div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <!-- <span class="am-icon-code"></span>-->发行商列表
                </div>

            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-success" data-toggle="modal"
                                        data-target="#myModal"><span class="am-icon-plus"></span>新增
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-warning"><span
                                        class="am-icon-archive"></span> <span class="examined">已审核</span><span
                                        class="examining" hidden="hidden">待审核</span>
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                        class="am-icon-trash-o"></span> 删除
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                    type="button"></button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"></th>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">发行时间</th>
                                    <th class="table-title">发行商名称</th>
                                    <th class="table-type">发行商联系人姓名</th>
                                    <th class="table-author am-hide-sm-only">发行商地址</th>
                                    <th class="table-date am-hide-sm-only">发行商联系人电话</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <div>

                                    <tr th:each="list : ${pageInfo.getRecords()}">

                                        <td><input type="checkbox"></td>
                                        <td th:text="${list.id}"></td>
                                        <td th:text="${#dates.format(list.createTime, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${list.gmPublisherName}"></td>
                                        <td th:text="${list.gmPublisherLinkman}"></td>
                                        <td th:text="${list.gmPublisherAddress}"></td>
                                        <td th:text="${list.gmPublisherPhone}"></td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button type="button"
                                                            class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                                            data-toggle="modal" data-target="#myModal1"> 编辑
                                                    </button>
                                                    <button type="button"
                                                            class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                                            th:value="${list.id}">删除
                                                    </button>
                                                    <button class="examSuccess" hidden="hidden"><span
                                                            class="am-icon-copy"></span> 审核通过
                                                    </button>

                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </div>

                                </tbody>
                            </table>

                            <div id="Page" style="margin:0 auto;display:table;"></div>
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>

    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <input style="width: 100%;" class="modal-body" placeholder="发行商名称" id="gmPublisherName"
                       name="gmPublisherName"/>
                <input style="width: 100%;" class="modal-body" placeholder="联系人姓名" id="gmPublisherLinkman"
                       name="gmPublisherLinkman"/>
                <input style="width: 100%;" class="modal-body" placeholder="联系号码" id="gmPublisherPhone"
                       name="gmPublisherPhone"/>
                <input style="width: 100%;" class="modal-body" placeholder="发行商网址" id="gmPublisherWebsite"
                       name="gmPublisherWebsite"/>
                <input style="width: 100%;" class="modal-body" placeholder="厂商地址" id="gmPublisherAddress"
                       name="gmPublisherAddress"/>
                <input style="width: 100%;" class="modal-body" placeholder="联系人微信" id="gmPublisherWechat"
                       name="gmPublisherWechat"/>
                <input style="width: 100%;" class="modal-body" placeholder="联系人支付宝" id="gmPublisherAlipay"
                       name="gmPublisherAlipay"/>
                <input style="width: 100%;" class="modal-body" placeholder="银行卡号" id="gmPublisherCredit"
                       name="gmPublisherCredit"/>
                <input style="width: 100%;" class="modal-body" placeholder="厂商简介" id="gmPublisherIntro"
                       name="gmPublisherIntro"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="gmPublisherId1" name="gmPublisherName"></div>
                <input style="width: 100%;" class="modal-body" placeholder="发行商名称" id="gmPublisherName1"
                       name="gmPublisherName"/>
                <input style="width: 100%;" class="modal-body" placeholder="联系人姓名" id="gmPublisherLinkman1"
                       name="gmPublisherLinkman"/>
                <input style="width: 100%;" class="modal-body" placeholder="联系号码" id="gmPublisherPhone1"
                       name="gmPublisherPhone"/>
                <input style="width: 100%;" class="modal-body" placeholder="厂商地址" id="gmPublisherAddress1"
                       name="gmPublisherAddress"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary1">提交更改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<!--js-->
<div th:replace="commons/common::commonJS(~{::script})">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        $(".am-btn-warning").click(function () {
            if ([[${flag}]] != true) {
                window.location.href = "/publisher/valid";
            }
            else {
                window.location.href = "/publisher/all";
            }
        });

        $(function () {
            if ([[${flag}]] == true) {
                $(".examined").hide();
                $(".examining").show();
                $(".examSuccess").show();

            } else {
                $(".examined").show();
                $(".examining").hide();
                $(".examSuccess").hide();
            }


            var flag = false;

            $("#Page").page({
                pages: [[${pageInfo.pages}]], //总页码数(后台返回字段可以给出)
                first: "首页", //设置false则不显示，默认为false
                last: "尾页", //设置false则不显示，默认为false
                prev: '<', //若不显示，设置false即可，默认为上一页
                next: '>', //若不显示，设置false即可，默认为下一页
                groups: 4, //连续显示分页数
                curr: [[${pageInfo.current}]], //当前页(后台返回当前页码数)
                jump: function (context, first) {
                    if (flag) {
                        var pageNum = String(context.option.curr);
                        if ([[${flag}]] == true) {
                            window.location.href = "http://localhost:8080/publisher/valid/" + pageNum;
                        } else {
                            window.location.href = "http://localhost:8080/publisher/all/" + pageNum;
                        }
                    }
                    flag = true;
                }

            });

        })
        $(".examSuccess").click(function () {
            var url = window.location.href;
            var e = $(this).parent();
            var son = e.children("button");
            var id = $(son[1]).val();
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("all") != -1 || current.indexOf("valid") != -1) {
                current = 1;
            }
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/publisher/examine",
                data: {
                    id: id
                },
                dataType: "json",
                async: true,
                success: function (data) {
                    if (data.status == 200) {
                        window.location.href = "http://localhost:8080/publisher/valid/" + current;
                    } else if (data.status == 400) {
                        alert("审核失敗");
                    } else {

                        alert("服务器错误");
                    }
                }

            })


        })
        $(".am-btn-danger").click(function () {
            var id = new Array();
            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("all") != -1) {
                current = 1;
            }
            var e = $("tbody").children("tr");
            for (var i = 0; i <= e.length - 1; i++) {
                if ($($(e[i]).children().get(0)).children(":first").is(":checked")) {
                    id.push($($(e[i]).children().get(1)).text());
                }

            }

            $.ajax({
                type: "Post",
                url: "http://localhost:8080/publisher/deleteBatch",
                data: JSON.stringify(id),
                async: true,
                dataType: "application/json",
                cache: false,
                contentType: "application/json; charset=utf-8", // 不可缺
                processData: false, // 不可缺
                success: function (data) {
                    if (data.status == 200) {
                        if ([[${flag}]] == true) {
                            window.location.href = "http://localhost:8080/publisher/valid/" + current;
                        }
                        else {
                            window.location.href = "http://localhost:8080/publisher/all/" + current;
                        }

                    } else if (data.status == 400) {
                        alert("删除失敗");
                    } else {
                        alert("服务器错误");
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest, textStatus, errorThrown);
                    location.reload();
                }
            });

        })
        $(".am-text-secondary").click(function () {
            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("all") != -1 || current.indexOf("valid") != -1) {
                current = 1;
            }
            var e = $(this).parent().parent().parent().parent();
            var son = e.children("td");
            $("#gmPublisherName1").val($(son[3]).text());
            $("#gmPublisherLinkman1").val($(son[4]).text());
            $("#gmPublisherAddress1").val($(son[5]).text());
            $("#gmPublisherPhone1").val($(son[6]).text());
            $("#gmPublisherId1").html("ID:<span class='GetId'>" + $(son[1]).text() + "</span>");

        });
        $(".btn-primary1").click(function () {
            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("all") != -1 || current.indexOf("valid") != -1) {
                current = 1;
            }
            var publisher = {};
            publisher.gmPublisherName = $("#gmPublisherName1").val();
            publisher.gmPublisherLinkman = $("#gmPublisherLinkman1").val();
            publisher.gmPublisherPhone = $("#gmPublisherPhone1").val();
            publisher.gmPublisherAddress = $("#gmPublisherAddress1").val();
            publisher.id = $(".GetId").text();
            if ([[${flag}]]) {
                publisher.isValid = 0;
            } else {
                publisher.isValid = 1;
            }
            alert([[${flag}]]);
            alert(publisher.isValid);
            console.log(publisher);
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/publisher/update",
                data: publisher,
                async: true,
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        if ([[${flag}]] == true) {
                            window.location.href = "http://localhost:8080/publisher/valid/" + current;
                        } else {
                            window.location.href = "http://localhost:8080/publisher/all/" + current;

                        }

                    } else if (data.status == 400) {
                        alert("更新失敗");
                    } else {
                        alert("服务器错误");
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest, textStatus, errorThrown);
                    location.reload();
                }
            });
        })

        $(".am-hide-sm-only").click(function () {
            var id = $(this).val();
            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("all") != -1) {
                current = 1;
            }
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/publisher/delete",
                data: {
                    id: id,
                    current: current
                },
                dataType: "json",
                async: true,
                success: function (data) {
                    if (data.status == 200) {
                        if ([[${flag}]] == true) {
                            window.location.href = "http://localhost:8080/publisher/valid/" + current;
                        } else {
                            window.location.href = "http://localhost:8080/publisher/all/" + current;
                        }


                    } else if (data.status == 400) {

                        alert("刪除失敗");
                    } else {

                        alert("服务器错误");
                    }

                }

            })

        })

        $(".btn-primary").click(function () {

            var url = window.location.href;
            var paramArray = url.split("/");
            var length = paramArray.length;
            var current = paramArray[length - 1];
            if (current.indexOf("all") != -1 || current.indexOf("valid") != -1) {
                current = 1;
            }
            var publisher = {};
            publisher.gmPublisherName = $("#gmPublisherName").val();
            publisher.gmPublisherLinkman = $("#gmPublisherLinkman").val();
            publisher.gmPublisherPhone = $("#gmPublisherPhone").val();
            publisher.gmPublisherAddress = $("#gmPublisherAddress").val();
            publisher.gmPublisherWebsite = $("#gmPublisherWebsite").val();
            publisher.gmPublisherWechat = $("#gmPublisherWechat").val();
            publisher.gmPublisherAlipay = $("#gmPublisherAlipay").val();
            publisher.gmPublisherCredit = $("#gmPublisherCredit").val();
            publisher.gmPublisherIntro = $("#gmPublisherIntro").val();
            console.log(publisher);
            if (publisher.gmPublisherName == "") {
                alert("厂商名称不能为空");
            } else if (publisher.gmPublisherLinkman == "") {
                alert("联系人姓名不能为空");
            } else if (!(/^1[34578]\d{9}$/.test(publisher.gmPublisherPhone))) {
                alert("手机号格式不正确");
            } else if (publisher.gmPublisherAddress == "") {
                alert("发行商地址不能为空");
            } else if (publisher.gmPublisherWechat == "") {
                alert("联系人微信不能为空");
            } else if (publisher.gmPublisherCredit == "") {
                alert("银行卡号不能为空");
            } else {

                $.ajax({
                    type: "GET",
                    url: "http://localhost:8080/publisher/add",
                    data: publisher,
                    async: true,
                    dataType: "json",
                    success: function (data) {
                        if (data.status == 200) {
                            if ([[${flag}]] == true) {
                                window.location.href = "http://localhost:8080/publisher/valid/" + current;
                            }
                            else {
                                window.location.href = "http://localhost:8080/publisher/all/" + current;
                            }

                        } else if (data.status == 400) {
                            alert("添加失敗");
                        } else {
                            alert("服务器错误");
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest, textStatus, errorThrown);
                        location.reload();
                    }
                });
            }
        });


    </script>
</div>
</body>
</html>