<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common::commonHeaderWithStyle('Fave Game Admin',~{::title},~{::link},~{::style})">
    <title>订单管理</title>
    <!--当前页面css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--自定义样式-->
    <style>
        .my-modal-info {
            width: 60px;
        }

        .am-modal-bd {
            text-align: center;
        }
    </style>
</head>
<body data-type="generalComponents">
<!--公共导航条-->
<div th:replace="commons/common::commonBar"></div>
<!--页面主体-->
<div class="tpl-page-container tpl-page-header-fixed">
    <!--公共内容左侧边栏-->
    <div th:replace="commons/common::commonLeftBar"></div>
    <!--页面自定义内容-->
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            Fave Game 类型管理
        </div>
        <div th:replace="commons/common::commonMiniNavi(~{::li#id-user-manager})">
            <li class="am-active" id="id-user-manager">类型管理</li>
        </div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <!-- <span class="am-icon-code"></span>-->列表
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."></div>
                    </div>
                </div>

            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-success"
                                        data-am-modal="{target: '#mymodal', closeViaDimmer: 0,width: 250}"><span
                                        class="am-icon-plus"></span> 新增
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-secondary"><span
                                        class="am-icon-save"></span> 保存
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-warning"><span
                                        class="am-icon-archive"></span> 审核
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                        class="am-icon-trash-o"></span> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select data-am-selected="{btnSize: 'sm'}">
                                <option value="option1">所有类别</option>
                                <option value="option2">单机</option>
                                <option value="option3">角色扮演</option>
                                <option value="option3">动作</option>
                                <option value="option3">MOBA</option>
                                <option value="option3">策略</option>
                                <option value="option3">卡牌</option>
                                <option value="option3">生存</option>
                                <option value="option3">模拟</option>
                                <option value="option3">竞速</option>
                                <option value="option3">益智</option>
                                <option value="option3">二次元</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                    type="button"></button>
          </span>

                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">中文名</th>
                                    <th class="table-type">英文名</th>
                                    <th class="table-type">版本号</th>
                                    <th class="table-date am-hide-sm-only">修改日期</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody id="msg-list">
                                <tr th:each="type:${list}">
                                    <td><input type="checkbox"></td>
                                    <td th:text="${type.id}">1</td>
                                    <td th:text="${type.gmTypeChName}">模拟战争</td>
                                    <td th:text="${type.gmTypeEnName}">RPG</td>
                                    <td th:text="${type.isValid}">1.0</td>
                                    <td th:text="${#dates.format(type.createTime,'yyyy-MM-dd')}">2014年9月4日 7:28:47</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button"
                                                        class="am-btn am-btn-default am-btn-xs am-text-secondary btn-upd"
                                                        data-am-modal="{target: '#upd', closeViaDimmer: 0,width: 250}">
                                                    <span class="am-icon-pencil-square-o"></span>编辑
                                                </button>
                                                <button type="button"
                                                        class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-del">
                                                    <span class="am-icon-trash-o"></span>删除
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--模态框-->
                            <div class="am-modal am-modal-alert" tabindex="-1" id="upd">
                                <div class="am-modal-dialog">
                                    <div class="am-modal-bd">
                                        <div class="am-input-group">
                                            <input type="hidden" class="am-form-field" id="updid" value="">
                                        </div>
                                        <div class="am-input-group">
                                            <label>英文缩写：</label>
                                            <input type="text" class="am-form-field" id="updEn" value="">
                                        </div>
                                        <div class="am-input-group">
                                            <label>中文名称：</label>
                                            <input type="text" class="am-form-field" id="updCn" value="">
                                        </div>
                                    </div>
                                    <div class="am-modal-footer">
                                        <span class="am-modal-btn" id="updbtn">修改</span>
                                        <span class="am-modal-btn">关闭</span>
                                    </div>
                                </div>
                            </div>

                            <!--模态框-->
                            <div class="am-modal am-modal-alert" tabindex="-1" id="mymodal">
                                <div class="am-modal-dialog">
                                    <div class="am-modal-bd">
                                        <div class="am-input-group">
                                            <label>英文缩写：</label>
                                            <input type="text" class="am-form-field" placeholder="EnglishName"
                                                   id="EnglishName">
                                        </div>
                                        <div class="am-input-group">
                                            <label>中文名称：</label>
                                            <input type="text" class="am-form-field" placeholder="ChineseName"
                                                   id="ChineseName">
                                        </div>
                                    </div>
                                    <div class="am-modal-footer">
                                        <span class="am-modal-btn" id="addbtn">添加</span>
                                        <span class="am-modal-btn">关闭</span>
                                    </div>
                                </div>
                            </div>

                            <!--end 模态框-->
                            <div class="am-cf">

                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li class="am-disabled">
                                            <a href="#">«</a>
                                        </li>
                                        <li class="am-active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                            <a href="#">»</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>

    </div>
</div>
<!--js-->
<div th:replace="commons/common::commonJS(~{::script})">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addbtn").click(function () {
                var en = $("#EnglishName").val();
                var cn = $("#ChineseName").val();
                var type = {};
                type.gmTypeEnName = en;
                type.gmTypeChName = cn;
                // type = JSON.stringify(type);
                console.log(type);
                $.ajax({
                    url: "add", //要处理的页面
                    data: type,  //要传过去的数据
                    type: "POST",  //提交方式
                    cache: false,
                    success: function (back) {
                        alert("添加成功");
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });

            $("#updbtn").click(function () {
                var type = {};
                type.id = $("#updid").val();
                type.gmTypeChName = $("#updCn").val();
                type.gmTypeEnName = $("#updEn").val();
                $.ajax({
                    type: "post",
                    url: "upd",
                    data: type,
                    success: function (back) {
                        alert("修改成功");
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });


            $(".btn-del").click(function () {
                var type = {};
                var info = $(this).parent().parent().parent().parent();
                type.id = info.children()[1].innerText;
                console.log(type.id);
                $.ajax({
                    type: "post",
                    url: "del",
                    data: type,
                    success: function (back) {
                        alert("删除成功")
                        /*location.reload();*/
                        info.remove();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
            });

            $(".btn-upd").click(function () {
                var info = $(this).parent().parent().parent().parent();
                $("#updid").val(info.children()[1].innerText);
                $("#updCn").val(info.children()[2].innerText);
                $("#updEn").val(info.children()[3].innerText);
                $("#version").val(info.children()[4].innerText);
            });

        });
    </script>
</div>
</body>
</html>