<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dmdream.mapper.UserMapper">


    <select id="findAllUserVoByPage" resultType="cn.dmdream.entity.vo.UserVo">
        select u.*,ui.* from tab_user u left join tab_userInfo ui on u.id = ui.userId limit ${start},${pageSize};
    </select>
    <select id="findUserVoById" resultType="cn.dmdream.entity.vo.UserVo">
         select u.*,ui.* from tab_user u left join tab_userInfo ui on u.id = ui.userId where u.id=#{id};
    </select>


</mapper>