<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/recommend.css">
    <link rel="stylesheet" type="text/css" href="/css/game-detail.css"/>
    <link rel="stylesheet" type="text/css" href="/css/game-comments.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <style type="text/css">
        /*回复模态框样式*/
        .modal-dialog {
            margin: 8% auto;
            width: 500px;
            transition: all .3s ease-out;
            box-shadow: 0 0 20px rgba(0, 0, 0, .3);
        }

        .modal-content {
            position: relative;
            border: none;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: none;
        }

        .modal-header {
            position: relative;
            color: #fff;
            background: #14B9C8;
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
            box-sizing: border-box;
        }

        .modal-header-user {
            box-sizing: border-box;
            display: block;
            color: #fff;
            line-height: 20px;
            font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
            font-weight: 400;
            font-size: 14px;
        }

        .modal-header-user p {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0;
            font-size: 16px;
        }

        .img-circle {
            display: inline-block;
            padding: 2px;
            width: 50px;
            height: 50px;
            background: #fff;
            vertical-align: middle;
            border-radius: 50%;
            border: 0;
            color: #fff;
            line-height: 20px;
        }

        .switch-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            box-sizing: border-box;
            display: block;
        }

        .btn-exit {
            width: 20px;
            height: 20px;
            background: url(/images/cont/detail-exit.png) no-repeat;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
        }

        .modal-body {
            padding: 20px;
            font-size: 14px;
            color: #333;
        }

        .modal-body-app {
            float: left;
            max-width: 90px;
            box-sizing: border-box;
        }

        .modal-body-app img {
            vertical-align: middle;
            width: 90px;
        }

        .review-modal-right {
            margin: 0 0 0 105px;
            box-sizing: border-box;
            display: block;
        }

        .modal-body-rate {
            box-sizing: border-box;
            font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
            font-weight: 400;
        }

        .body-rate-star {
            margin-right: 12px;
            display: inline-block;
            vertical-align: middle;
        }

        .body-rate-star i {
            cursor: pointer;
            float: left;
            display: block;
            padding: 0 14px 0 0;
            width: 44px;
            height: 30px;
            background: url(/images/iconfont/star-score.png) no-repeat;
        }

        .reply-img-right, .reply-p-right {
            float: right;
        }

        .reply-p-left, .reply-img-left {
            float: left;
        }

        .reply-p-right, .reply-p-left {
            padding-top: 15px;
        }

        .modal-header-user {
            text-align: center;
            height: 50px;
            line-height: 50px;
        }
    </style>
</head>

<body>
<header class="header">
    <div class="header-inner body-width">
        <a href="#" class="logo"></a>
        <div class="recommend-search">
            <input type="text" class="recommend-search-text" placeholder="Seach here...">
            <button class="recommend-search-btn"><i class="recommend-icon-search"></i></button>
        </div>
        <nav class="header-nav">
            <ul>
                <!--<li>-->
                <!--<span class="line"></span>-->
                <!--<a href="#" class="dreamer">tang生活家</a>-->
                <!--<i class="icon-text__pink icon-new">new</i>-->
                <!--</li>-->
                <li style="display: none;">
                    <span class="line"></span>
                    <a href="login.html">登录</a>
                </li>
                <li class="dropdown open">
                    <span class="line"></span>
                    <span class="user-pic"></span>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="recommend-dropdown-menu-switch">
                        <img alt="" class="img-circle" th:src="${user.data.userPic}" width="38px" height="38px"/>
                        <span style="color: #000;font-size: 15px">
                                <i th:text="${user.data.gmUsername}">username</i>
                            </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="recommend-dropdown-menu" class="recommend-dropdown-hide">
    <div id="recommend-dropdown-img-container">
        <div id="recommend-dropdown-img">
            <img class="img-circle" th:src="${user.data.userPic}"/>
        </div>
        <div id="recommend-dropdown-img-username">
            <span th:text="${user.data.gmUsername}">username</span>
        </div>
        <div class="recommend-dropdown-row">
            <div>
                <a href="#"><img src="/images/iconfont/recommend-user-center.png"/></a>
                <p>个人中心</p>
            </div>
            <div>
                <a href="#"><img src="/images/iconfont/recommend-user-account.png"/></a>
                <p>账号管理</p>
            </div>
            <div>
                <a href="#"><img src="/images/iconfont/recommend-change-password.png"/></a>
                <p>密码修改</p>
            </div>
        </div>

        <div class="recommend-dropdown-row">
            <div>
                <a href="#"><img src="/images/iconfont/recommend-nic-pic-change.png"/></a>
                <p>修改头像</p>
            </div>
            <div>
                <a href="#"><img src="/images/iconfont/recommend-message.png"/></a>
                <p>消息</p>
            </div>
            <div>
                <a href="#"><img src="/images/iconfont/recommend-help.png"/></a>
                <p>帮助中心</p>
            </div>
        </div>
        <div id="recommend-dropdown-quit">
            <div>
                <a href="#"><img src="/images/iconfont/recommend-quit.png" id="recommend-dropdown-quit-img"/>退出登录</a>
            </div>
        </div>
    </div>
</div>

<div id="main-container">
    <div id="main-left">
        <div class="show-main-header">
            <div class="main-header-icon">
                <div class="header-icon-body">
                    <img itemprop="image" th:src="${game.data.gmIcon}" data-taptap-weixin-sharing="image">
                </div>
                <div class="main-header-rec">
                    <span>编辑推荐</span>
                </div>
            </div>
            <button type="button" class="app-qrcode-download icon-font icon-qrcode" data-toggle="modal"
                    data-target="#AppQrCodeDownload"></button>
            <div class="main-header-text">
                <div class="base-info-wrap">
							<span itemprop="aggregateRating" itemscope="" itemtype="" class="app-rating-block">
        					<span class="app-rating-container">
            					<span itemprop="ratingValue" class="app-rating-score"
                                      th:text="${game.data.gmMark==null?0:game.data.gmMark}">7.2</span>
							</span>
							</span>
                    <h1 itemprop="name" class="main-header-game-name" th:text="${game.data.gmName}">楚留香</h1>
                    <div class="header-text-author">
                        <a href="#" itemprop="publisher">
                            <span>厂商: </span>
                            <span itemprop="name" th:text="${game.data.gmPublisherName}">网易游戏</span>
                        </a>
                    </div>
                </div>
                <div class="header-text-download">
                    <div class="text-download-text">
                        <div class="app-data-wrap">
                            <button class=" taptap-button-friendship-simple js-taptap-button-friendship"
                                    data-taptap-ajax="follow" type="button">
                                <i class="app"><img src="/images/iconfont/notice.png"/></i>
                                <span class="follow">关注</span></button>
                            <p class="description">
                                <span class="count-stats" th:text="${game.data.countCollector}"></span> 0人关注
                            </p>
                        </div>
                        <span class="text-hints">7月26日更新：新门派太阴</span>
                    </div>

                    <div class="download-btn-wrap ">
                        <div class="taptap-button-download">
                            <button class="btn btn-primary btn-lg android js-header-android-download" type="button">
                                <i><img src="/images/iconfont/android.png"/></i>
                                <span>下载</span>
                            </button>
                        </div>
                        <div class="taptap-button-download">
                            <button data-taptap-log="toGame" data-target="#iosDownloadModal">
                                <i><img src="/images/iconfont/Apple.png"/></i>
                                <span>下载</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header-tab">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation" class="">
                        <a href="#" aria-controls="detail" role="tab">详情</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#" aria-controls="detail" role="tab">评价
                            <!--<small>40827</small>-->
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#" aria-controls="detail" role="tab">社区
                            <!--<small>33972</small>-->
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!--评论评价模块-->
        <div class="review-section">
            <!--总评分数据显示-->
            <div class="review-charts">
                <div class="review-ratings-container">
                    <div class=" review-ratings-total ">
                        <div class="total-rating ">
                            <span>总评分：</span>
                            <p class="text-download-rating ">
                                <i class="star-background "></i>
                                <i class="star-score " th:style="'width:'+70/10*${game.data.gmMark}+'px!important'"></i>
                                <span th:text="${game.data.gmMark==null?0:game.data.gmMark}">7.1</span>
                            </p>
                        </div>
                        <div class="recent-7-days ">
                            <span th:text="'最近版本:'+${game.data.gmVersion}">6.1</span>
                            <span>Android:7.1</span>
                            <span>IOS:7.3</span>
                            <span>近7天:6.0</span>
                        </div>
                    </div>
                    <div class="review-ratings-detail ">
                        <ul class="list-unstyled ">
                            <li>
                                <a href=" ">
                                    <span>5</span>
                                    <i></i>
                                    <div class="rating-item ">
                                        <div></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <span>4</span>
                                    <i></i>
                                    <div class="rating-item ">
                                        <div></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <span>3</span>
                                    <i></i>
                                    <div class="rating-item ">
                                        <div></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <span>2</span>
                                    <i></i>
                                    <div class="rating-item ">
                                        <div></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <span>1</span>
                                    <i></i>
                                    <div class="rating-item ">
                                        <div></div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <!--用户评分添加-->
            <div class="review-add ">
                <div class="review-add-user ">
                    <img th:src="${user.data.userPic}" alt=" "/>
                    <p th:text="${user.data.gmUsername}">锦爸爸</p>
                </div>
                <div class="review-add-stars ">
                    <p>
                        <i data-taptap-review-rating="star " data-text="讨厌 " data-taptap-review-toggle="modal "
                           class=""></i>
                        <i data-taptap-review-rating="star " data-text="不喜欢 " data-taptap-review-toggle="modal "
                           class=""></i>
                        <i data-taptap-review-rating="star " data-text="还可以 " data-taptap-review-toggle="modal "
                           class=" "></i>
                        <i data-taptap-review-rating="star " data-text="很不错 " data-taptap-review-toggle="modal "
                           class=" "></i>
                        <i data-taptap-review-rating="star " data-text="棒极了 " data-taptap-review-toggle="modal "
                           class=" "></i>
                    </p>
                    <span></span>
                </div>
                <button class="btn-link " data-toggle="modal" data-target="#comment-modal">
                    <span>发表评价</span>
                </button>
                <!--添加评论模态框-->
                <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-header-user">
                                    <img th:src="${user.data.userPic}" alt="" class="img-circle">
                                    <p th:text="'评价者：'+${user.data.gmUsername}">评价者：15443410@Social</p>
                                </div>
                                <div class="switch-btn">
                                    <button type="button" class="btn-exit"
                                            data-taptap-action="review-modal-switch" style="display: none"></button>
                                </div>
                            </div>
                            <!--<input type="hidden" name="_token" value="QKo1vMOXpyNW7tzecFARCeGp4qPFJILNgDBpuVv1">-->
                            <!--<input type="hidden" name="app_id" value="2301">-->
                            <!--<input type="hidden" name="device" value="Web">-->
                            <div class="modal-body">
                                <!--<div class="modal-body-warning" data-taptap-review="error">-->
                                <!--<span>!</span>-->
                                <!--<p></p>-->
                                <!--</div>-->
                                <div class="modal-body-app">
                                    <img th:src="${game.data.gmIcon}" alt="">
                                    <p th:text="${game.data.gmName}">王者荣耀</p>
                                </div>
                                <div class="review-modal-right">
                                    <div class="modal-body-rate">
                            <span class="body-rate-star">
                                <i data-taptap-review-rating="star" data-text="讨厌"
                                   class=""></i>
                                <i data-taptap-review-rating="star" data-text="不喜欢"
                                   class=""></i>
                                <i data-taptap-review-rating="star" data-text="还可以"
                                   class=""></i>
                                <i data-taptap-review-rating="star" data-text="很不错"
                                   class=""></i>
                                <i data-taptap-review-rating="star" data-text="棒极了"
                                   class=""></i>
                            </span>
                                        <span class="body-rate-text" data-taptap-review-rating="tips"></span>
                                        <input type="hidden" name="score" value="" data-warning="请先对游戏进行评分">
                                    </div>
                                    <p class="accident-tips"></p>
                                    <div class="form-group">
                                    <textarea name="contents" data-paste-listen="true" id="comment-detail"
                                              class="form-control" cols="30"
                                              rows="6" placeholder="请写下你的宝贵意见" required=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            aria-label="Close">取消
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="comment-submit">发表</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--评论模态框结束-->

            </div>

            <!--评论标题-->
            <div class="review-title ">
                <h3>用户评价</h3>

            </div>
            <div id="review-list-div">
                <!--评论列表-->
                <ul class="review-list " th:each="comment : ${comments.data}">
                    <li class="review-item">
                        <a href="" class="review-avatar">
                            <img th:src="${comment.userPic}"/>
                        </a>
                        <div class="review-text">
                            <div class="text-header">
								<span class="fave-user">
									<a href="" class="user-name" th:text="${comment.gmUsername}"></a>
                                    <a style="display: none;" th:text="${comment.id}"></a>
									<i class="icon-verified"></i>
								</span>
                                <a href="" class="text-header-time">
                                    <span th:text="${#dates.format(comment.createTime,'yyyy-MM-dd')}">三小时前</span>
                                    <!--<span>已修改&gt;</span>-->
                                </a>
                                <button class="button-jubao"><span>举报</span></button>
                            </div>
                            <div class="text-score">
                                <i class="colored" th:style="'width:'+72/10*${comment.gmRate}+'px!important'"></i>
                                <i class="background"></i>
                                <span class="text-score-time">游戏时长 3小时22分钟</span>
                            </div>
                            <div class="text-body">
                                <p th:text="${comment.gmComment}">大沙发的方法阿孙方式</p>
                                <!--<p>发阿斯蒂芬艾弗森地方</p>-->
                                <!--<p>啊啊第三方 大厦的说法大师傅大师傅</p>-->
                            </div>
                            <div class="text-footer">
                                <!--<i class="icon-mobile-gray"></i>
                                <span class="text-footer-device"></span>-->
                                <ul class="list-unstyled" style="border-left:none;">
                                    <li>
                                        <button class="vote funny">
                                            <i class="icon">
                                                <img src="/images/cont/detail-smile.png"/>
                                            </i>
                                            <span>欢乐</span>
                                            <span>10</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="vote up">
                                            <i class="icon"><img src="/images/cont/detail-good.png" alt=""/></i>
                                            <span th:text="${comment.favor}">5</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="vote down">
                                            <i class="icon"><img src="/images/cont/detail-bad.png" alt=""/></i>
                                            <span th:text="${comment.against}">5</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="vote opinon comment-btn-reply">
                                            <i class="icon"><img src="/images/cont/detail-message.png"/></i>
                                            <span>回复</span>
                                            <span th:text="${comment.replyNumber}">203</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="in-comments">
                                <ul class="list-unstyled"
                                    style="border-top: 1px solid #E1E1E1;border-left: none; padding-left: 0;">
                                    <li class="comment-item " th:each="reply : ${comment.replyVos}">
                                        <a href="" class="comment-item-avatar">
                                            <img th:src="${reply.userPic}" alt=""/>
                                        </a>
                                        <div class="comment-item-text">
                                            <div class="text-header-in">
                                                <span class="fave-user"><a href="" class="fave-user-name"
                                                                           th:text="${reply.gmUsername}">鞠丽丽</a></span>
                                                <a style="display: none;" th:text="${reply.id}"></a>
                                            </div>
                                            <div class="text-body-in">
                                                <p th:text="${reply.content}"></p>
                                            </div>
                                            <div class="text-footer-in">
                                                <ul class="list-unstyled foot-btn">
                                                    <li>
                                                        <span class="vote-noh"
                                                              th:text="${#dates.format(reply.createTime,'yyyy-MM-dd')}">18小时前</span>
                                                    </li>
                                                    <li>
                                                        <button class="vote reply-btn-reply">
                                                            <i><img src="/images/cont/detail-message.png" alt=""/></i>
                                                            <span>回复</span>
                                                        </button>

                                                    </li>
                                                    <li>
                                                        <button class="vote">
                                                            <i class="icon"><img
                                                                    src="/images/cont/detail-good.png"/></i>
                                                            <span th:text="${reply.favor}">5</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="vote">
                                                            <i class="icon"><img src="/images/cont/detail-bad.png"/></i>
                                                            <span th:text="${reply.against}">6</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="vote">
                                                            <span>举报</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--底部更多按钮-->
        <div class="body-footer ">
            <section class="bottom-more ">
                <a href=" " class="btn-more-lg ">更多</a>
            </section>
        </div>
    </div>
    <div id="main-right">
        <div class="social-spread-wechat">
            <img src="/images/code.png" alt="" id="side-code">
            <div>
                <div class="spread-logo-wrap chs">
                    <!--<span class="icon-font icon-logo"></span>-->
                    <span id="side-icon-title">越玩越Fave</span>
                </div>
                <div class="spread-wechat-divide">
                    <p>欢迎关注我们</p>
                </div>
                <ul class="list-inline spread-wechat-logos">
                    <li>
                        <span><img src="/images/wechat.png"/></span>
                        <div class="wechat-logo-qrcode">
									<span>
                        				<img src="" alt="">
                    				</span>
                        </div>
                    </li>
                    <li>
                        <span><img src="/images/qq.png"/></span>
                        <!--<div class="wechat-logo-qq">
                            <span>官方QQ群: 116587007</span>
                        </div>-->
                    </li>
                    <li>
                        <a class="icon-font ic_zhihu" href="#" target="_blank" rel="nofollow"></a>
                    </li>
                    <li>
                        <a class="icon-font ic_sina" href="#" target="_blank" rel="nofollow"></a>
                    </li>
                    <!--<li>
                        <a class="icon-font ic_mail" href="mailto:cooperation@taptap.com" rel="nofollow"></a>
                        <div class="wechat-logo-mail">
                            <span>
                                <a href="mailto:cooperation@taptap.com" rel="nofollow">合作邮箱: cooperation@taptap.com</a>
                            </span>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="section-title">
            <h3>厂商其他游戏</h3>
            <a href="#" class="pull-right">更多</a>
        </div>
        <div class="show-side-body" th:each="pubGame : ${pubGames.data}">
            <div class="game-detail-side-item">
                <a class="side-item-left" href="#">
                    <img th:src="${pubGame.gmIcon}"/>
                </a>
                <div class="side-item-right ">
                    <a class="item-right-title flex-text-overflow ">
                        <span class="flex-text " th:text="${pubGame.gmName}">猫和老鼠：欢乐互动</span>
                    </a>
                    <div class="item-right-label ">
                        <a href="#">多人</a>
                        <p class="right-label-rating pull-right ">
                            <span th:text="${pubGame.gmMark==null?0:pubGame.gmMark}">8.4</span>
                            <i><img src="/images/star.png"/></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer ">
    <div class="footer-container ">
        <div class="footer-link ">
            <div class="footer-link__item ">
                <h4 class="footer-title ">关于我们</h4>
                <ul class="footer-list ">
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">加入我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">联系我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">标签集</a>
                    </li>
                    <li class="item ">
                        <a href="# ">商务合作</a>
                    </li>
                    <li class="item ">
                        <a href="# ">免责声明</a>
                    </li>
                </ul>
            </div>
            <div class="footer-link__item ">
                <h4 class="footer-title ">手机应用</h4>
                <ul class="footer-list ">
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">加入我们</a>
                    </li>
                </ul>
            </div>
            <div class="footer-link__item ">
                <div class="footer-orcode "><img src="/images/app_qrcode.png " alt="# "></div>
                <div class="orcode-text ">
                    <p>扫描二维码</p>
                    <p>下载tang手机客户端</p>
                </div>
            </div>
            <div class="footer-link__item ">
                <h4 class="footer-title ">关注我们</h4>
                <ul class="footer-list ">
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">加入我们</a>
                    </li>
                </ul>
            </div>
            <div class="footer-link__item ">
                <h4 class="footer-title ">友情链接</h4>
                <ul class="footer-list ">
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fopter-copyright ">
            <p>©2019 favegame 版权所有。</p>
        </div>
        <div style="display: none" th:text="${user.data.id}" id="user-id"></div>
        <div style="display: none" th:text="${game.data.id}" id="game-id"></div>
    </div>

    <!--添加回复模态框-->
    <div class="modal fade" aria-hidden="true" id="reply-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-header-user">
                        <img th:src="${user.data.userPic}" alt="" class="img-circle reply-img-left">
                        <p th:text="${user.data.gmUsername}" class="reply-p-left"></p>
                        <img src="/images/cont/detail-toR.png"/>
                        <img alt="" class="img-circle reply-img-right">
                        <p class="reply-p-right"></p>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin-bottom: 0px">
    <textarea name="contents" data-paste-listen="true" id="reply-detail"
              class="form-control" cols="30"
              rows="6" placeholder="请写下你的宝贵意见" required=""></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                aria-label="Close">取消
                        </button>
                        <button type="submit" class="btn btn-primary" id="reply-submit">发表</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="comment-id"></div>
        <div id="reply-id"></div>
    </div>
    <!--</div>-->
    <!--回复模态框结束-->
</footer>


<script src="/js/jquery.min.js "></script>
<script src="/js/bootstrap.js "></script>
<script>
    $(function () {

        $("#reply-submit").click(function () {
            var reply = {};
            var path = window.location.pathname;
            reply.replierId = $("#user-id").text();
            reply.toCommentId = $("#comment-id").html();
            reply.content = $("#reply-detail").val();
            console.log(reply);
            $.ajax({
                type: "post",
                url: path + "/addReply",
                data: reply,
                success: function (back) {
                    location.reload();
//                    console.log(back);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("error");

                }
            });
        });

        $("#comment-submit").click(function () {
            var comment = {};
            var path = window.location.pathname;
            comment.gmComment = $("#comment-detail").val();
            comment.gmCritic = $("#user-id").text();
            comment.gmGameId = $("#game-id").text();
            console.log($(".body-rate-star").children()[0].className);
            if ($(".body-rate-star").children()[0].className == "review-add-stars-hover") {
                comment.gmRate = 2;
            }
            if ($(".body-rate-star").children()[1].className == "review-add-stars-hover") {
                comment.gmRate = 4;
            }
            if ($(".body-rate-star").children()[2].className == "review-add-stars-hover") {
                comment.gmRate = 6;
            }
            if ($(".body-rate-star").children()[3].className == "review-add-stars-hover") {
                comment.gmRate = 8;
            }
            if ($(".body-rate-star").children()[4].className == "review-add-stars-hover") {
                comment.gmRate = 10;
            }
            console.log(comment);
            $.ajax({
                type: "post",
                url: path + "/addComment",
                data: comment,
                success: function (back) {
                    location.reload();
//                    console.log(back);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("error");

                }
            });
        });

        $("#recommend-dropdown-menu-switch ").hover(function () {
            $("#recommend-dropdown-menu ").removeClass("recommend-dropdown-hide ");
        });
        $("#recommend-dropdown-menu ").mouseleave(function () {
            $("#recommend-dropdown-menu ").addClass("recommend-dropdown-hide ");
        });
        //初始化星星样式
        $(".review-add-stars p i").hover(function () {
            var index = $(this).index();
            $(this).parent().children().removeClass("review-add-stars-hover");
            $(this).prevAll().addClass("review-add-stars-hover");
            $(this).addClass("review-add-stars-hover");
            var that = $(".body-rate-star i")[index];
            $(that).parent().children().removeClass("review-add-stars-hover");
            $(that).prevAll().addClass("review-add-stars-hover");
            $(that).addClass("review-add-stars-hover");
            if (index == 0) {
                $(".review-add-stars span").text("讨厌");
                $(".body-rate-text").text("讨厌");
            } else if (index == 1) {
                $(".review-add-stars span").text("不喜欢");
                $(".body-rate-text").text("不喜欢");
            } else if (index == 2) {
                $(".review-add-stars span").text("还可以");
                $(".body-rate-text").text("还可以");
            } else if (index == 3) {
                $(".review-add-stars span").text("很不错")
                $(".body-rate-text").text("很不错");
            } else if (index == 4) {
                $(".review-add-stars span").text("棒极了");
                $(".body-rate-text").text("棒极了");
            }
        });

        $(".review-add-stars p i").click(function () {
            $('#comment-modal').modal("show");
        });
        $(".comment-btn-reply").click(function () {
            $('#reply-modal').modal("show");
            var path = $(this).parent().parent().parent().parent().prev().children()[0].src;
            var name = $(this).parent().parent().parent().parent().children()[0].childNodes[1].childNodes[1].innerText;
            var commentId = $(this).parent().parent().parent().parent().children()[0].childNodes[1].childNodes[3].innerText;
            $(".reply-img-right").attr('src', path);
            $(".reply-p-right").text(name);
            $("#comment-id").html(commentId);
        });
        $(".reply-btn-reply").click(function () {
            $('#reply-modal').modal("show");
            var path = $(this).parent().parent().parent().parent().prev().children()[0].src;
            var name = $(this).parent().parent().parent().parent().children()[0].childNodes[1].childNodes[0].innerText;
            var commentId = $(this).parent().parent().parent().parent().parent().parent().parent().parent().children()[0].childNodes[1].childNodes[3].innerText;
            $("#comment-id").html(commentId);
            $(".reply-img-right").attr('src', path);
            $(".reply-p-right").text(name);
        });
//        $(".review-add-stars p i").mouseleave(function () {
//            $(this).parent().children().removeClass("review-add-stars-hover");
//            $(".review-add-stars span").text("");
//        });

        $(".body-rate-star i").click(function () {
            var index = $(this).index();
            $(this).parent().children().removeClass("review-add-stars-hover");
            $(this).prevAll().addClass("review-add-stars-hover");
            $(this).addClass("review-add-stars-hover");
            var that = $(".review-add-stars p i")[index];
            $(that).parent().children().removeClass("review-add-stars-hover");
            $(that).prevAll().addClass("review-add-stars-hover");
            $(that).addClass("review-add-stars-hover");
            if (index == 0) {
                $(".review-add-stars span").text("讨厌");
                $(".body-rate-text").text("讨厌");
            } else if (index == 1) {
                $(".review-add-stars span").text("不喜欢");
                $(".body-rate-text").text("不喜欢");
            } else if (index == 2) {
                $(".review-add-stars span").text("还可以");
                $(".body-rate-text").text("还可以");
            } else if (index == 3) {
                $(".review-add-stars span").text("很不错")
                $(".body-rate-text").text("很不错");
            } else if (index == 4) {
                $(".review-add-stars span").text("棒极了");
                $(".body-rate-text").text("棒极了");
            }
        });

//        $(".body-rate-star i").mouseleave(function () {
//            $(this).prevAll().removeClass("review-add-stars-hover");
//            $(this).removeClass("review-add-stars-hover");
//            $(".body-rate-text").text("");
//        });
    });
</script>

</body>

</html>