<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fave Game Publisher</title>
    <meta name="description" content="发布游戏">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Fave Game"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/amazeui.page.css">
    <link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css"/>
    <link rel="stylesheet" href="/js/multifile/css/mui.css"/>
    <link rel="stylesheet" href="/js/multifile/css/news.css"/>
    <!--自定义的css-->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/recommend.css">

    <style>
        #main-container {
            width: 1200px;
            min-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            background-color: #FFFFFF;
        }
        #main-container *{
            font-size: initial;
        }
    </style>

</head>

<body style="background-color: #f2f2f2;">
<!--页首开始-->
<header class="header">
    <div class="header-inner body-width">
        <a href="#" class="logo"></a>
        <div class="recommend-search">
            <input type="text" class="recommend-search-text" placeholder="Seach here..." style="width: 90%;">
            <button class="recommend-search-btn"><i class="recommend-icon-search"></i></button>
        </div>
        <nav class="header-nav">
            <ul>
                <li>
                    <span class="line"></span>
                    <a href="#" class="dreamer">tang生活家</a>
                    <i class="icon-text__pink icon-new">new</i>
                </li>
                <li style="display: none;">
                    <span class="line"></span>
                    <a href="login.html">登录</a>
                </li>
                <li class="dropdown open">
                    <span class="line"></span>
                    <span class="user-pic"></span>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="recommend-dropdown-menu-switch">
                        <img alt="" class="img-circle" src="/images/avtar.png" width="38px" height="38px"/>
                        <span style="color: #000;font-size: 15px">
                                <i>username</i>
                            </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="recommend-dropdown-menu" class="recommend-dropdown-hide">
    <div id="recommend-dropdown-img-container">
        <div id="recommend-dropdown-img">
            <img class="img-circle" src="/images/avtar.png"/>
        </div>
        <div id="recommend-dropdown-img-username">
            <span>username</span>
        </div>
        <div class="recommend-dropdown-row">
            <div>
                <a href="#"><img src="/images/iconfont/recommend-user-center.png"/></a>
                <p>个人中心</p>
            </div>
            <div>
                <a href="#"><img src="/images/iconfont/recommend-user-account.png"/></a>
                <p>账号管理</p>
            </div>
            <div>
                <a href="#"><img src="/images/iconfont/recommend-change-password.png"/></a>
                <p>密码修改</p>
            </div>
        </div>

        <div class="recommend-dropdown-row">
            <div>
                <a href="#"><img src="/images/iconfont/recommend-nic-pic-change.png"/></a>
                <p>修改头像</p>
            </div>
            <div>
                <a href="#"><img src="/images/iconfont/recommend-message.png"/></a>
                <p>消息</p>
            </div>
            <div>
                <a href="#"><img src="/images/iconfont/recommend-help.png"/></a>
                <p>帮助中心</p>
            </div>
        </div>
        <div id="recommend-dropdown-quit">
            <div>
                <a href="#"><img src="/images/iconfont/recommend-quit.png" id="recommend-dropdown-quit-img"/>退出登录</a>
            </div>
        </div>
    </div>
</div>
<!--页首结束-->

<!--发布游戏的表单开始-->

<div id="main-container">

    <div class="tpl-block">

        <div class="am-g">
            <div class="tpl-form-body tpl-form-line">
                <form class="am-form tpl-form-line-form" id="id-form-saveOrUpdate" action="/publisher/saveOrUpdate" method="post">
                    <input th:type="hidden" th:id="id-id" th:name="id"/><!--隐藏域用于更新操作-->
                    <input th:type="hidden" th:id="id-isValid" th:value="0" th:name="isValid"/><!--隐藏域用于更新操作-->
                    <!--游戏名-->
                    <div class="am-form-group">
                        <label for="id-gmName" class="am-u-sm-3 am-form-label">游戏名 <span
                                class="tpl-form-line-small-title">GameName</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" th:name="gmName" id="id-gmName"
                                   placeholder="请输入游戏名称">
                            <small>游戏名必填</small>
                        </div>
                    </div>
                    <!--游戏版本号-->
                    <div class="am-form-group">
                        <label for="id-gmVersion" class="am-u-sm-3 am-form-label">发行版本 <span
                                class="tpl-form-line-small-title">Version</span></label>
                        <div class="am-u-sm-9">
                            <input th:name="gmVersion" id="id-gmVersion" type="text"
                                   placeholder="输入发行的版本号">
                            <small>版本号必填</small>
                        </div>
                    </div>
                    <!--游戏类型-->
                    <div class="am-form-group">
                        <label for="id-gmTypeId" class="am-u-sm-3 am-form-label">游戏类型 <span
                                class="tpl-form-line-small-title">Type</span></label>
                        <div class="am-u-sm-9">
                            <select th:name="gmTypeId" id="id-gmTypeId"
                                    data-am-selected="{searchBox: 1}">
                                <option value="-1">请选择一个类别</option>
                                <option th:each="type:${typeList}" th:value="${type.id}"
                                        th:text="${type.gmTypeChName}">单机
                                </option>
                            </select>
                            <small>游戏类型必选</small>
                        </div>
                    </div>
                    <!--发行商-->
                    <input type="hidden" th:value="${currPublisher.id}" th:name="gmPublisherId" id="id-gmPublisherId"/>
                    <!--发布时间-->
                    <div class="am-form-group">
                        <label for="id-gmPubdate" class="am-u-sm-3 am-form-label">发布时间 <span
                                class="tpl-form-line-small-title">Time</span></label>
                        <div class="am-u-sm-9">
                            <input th:name="gmPubdate" id="id-gmPubdate" type="text"
                                   class="am-form-field tpl-form-no-bg" placeholder="发布时间"
                                   data-am-datepicker="" readonly/>
                            <small>发布时间必填</small>
                        </div>
                    </div>
                    <!--运营商-->
                    <div class="am-form-group">
                        <label for="id-gmOperatorId" class="am-u-sm-3 am-form-label">运营商 <span
                                class="tpl-form-line-small-title">Operator</span></label>
                        <div class="am-u-sm-9">
                            <select th:name="gmOperatorId" id="id-gmOperatorId"
                                    data-am-selected="{searchBox: 1}">
                                <option value="a">运营商select</option>
                            </select>
                            <small>运营商可选</small>
                        </div>
                    </div>
                    <!--付费开关-->
                    <div class="am-form-group">
                        <label for="id-gmFree" class="am-u-sm-3 am-form-label">是否付费 <span
                                class="tpl-form-line-small-title">Fee</span></label>
                        <div class="am-u-sm-9">
                            <div class="tpl-switch">
                                <input th:name="gmFree" th:value="0" id="id-gmFree" type="checkbox"
                                       class="ios-switch bigswitch tpl-switch-btn"
                                       style="width: 100%;height: 100%;"/>
                                <div class="tpl-switch-btn-view">
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--付费金额的模态框，当付费开关开启时，要求输入金额-->
                    <div class="am-modal am-modal-prompt" tabindex="-1" id="id-gmPrice-modal">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">请输入金额</div>
                            <div class="am-modal-bd">
                                <input th:name="gmPrice" id="id-gmPrice" type="text"
                                       class="am-modal-prompt-input">
                            </div>
                            <div class="am-modal-footer">
                                <span class="am-modal-btn" data-am-modal-cancel>还是免费吧</span>
                                <span class="am-modal-btn" data-am-modal-confirm>加钱!</span>
                            </div>
                        </div>
                    </div>
                    <!--安卓开关-->
                    <div class="am-form-group">
                        <label for="id-gmPlatformIsAndroid" class="am-u-sm-3 am-form-label">安卓 <span
                                class="tpl-form-line-small-title">Android</span></label>
                        <div class="am-u-sm-9" style="display: flex;">
                            <div class="tpl-switch">
                                <input th:name="gmPlatformIsAndroid" th:value="0" id="id-gmPlatformIsAndroid"
                                       type="checkbox" class="ios-switch bigswitch tpl-switch-btn"
                                       style="width: 100%;height: 100%;"/>
                                <div class="tpl-switch-btn-view">
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <!--安卓安装包上传-->
                            <div class="am-form-group am-form-file my-hidden"
                                 style="margin-left: 20px;">
                                <div>
                                    <button type="button" class="am-btn am-btn-default am-btn-sm">
                                        <i class="am-icon-cloud-upload"></i> <span
                                            id="id-fileupload-rename">选择要上传的文件</span></button>
                                </div>
                                <input type="file" id="id-android-upload">
                                <input type="hidden" id="id-gmAndroidUrl" th:name="gmAndroidUrl">
                            </div>
                        </div>
                    </div>
                    <!--IOS开关-->
                    <div class="am-form-group">
                        <label for="id-gmPlatformIsIOS" class="am-u-sm-3 am-form-label">IOS <span
                                class="tpl-form-line-small-title">IOS</span></label>
                        <div class="am-u-sm-9">
                            <div class="tpl-switch">
                                <input th:name="gmPlatformIsIOS" th:value="0" id="id-gmPlatformIsIOS" type="checkbox"
                                       class="ios-switch bigswitch tpl-switch-btn"
                                       style="width: 100%;height: 100%;"/>
                                <div class="tpl-switch-btn-view">
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--IOS地址的模态框-->
                    <div class="am-modal am-modal-prompt" tabindex="-1" id="id-gmIOSUrl-modal">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">请输入游戏IOS商店地址</div>
                            <div class="am-modal-bd">
                                <input th:name="gmIOSUrl" id="id-gmIOSUrl" type="text"
                                       class="am-modal-prompt-input">
                            </div>
                            <div class="am-modal-footer">
                                <span class="am-modal-btn" data-am-modal-cancel>算了,不填了</span>
                                <span class="am-modal-btn" data-am-modal-confirm>哼哼~</span>
                            </div>
                        </div>
                    </div>
                    <!--游戏运行配置-->
                    <div class="am-form-group">
                        <label for="id-gmRunenv" class="am-u-sm-3 am-form-label">运行配置 <span
                                class="tpl-form-line-small-title">EnvConf</span></label>
                        <div class="am-u-sm-9">
                            <input th:name="gmRunenv" id="id-gmRunenv" type="text"
                                   placeholder="输入游戏运行配置">
                            <small>运行配置可选</small>
                        </div>
                    </div>
                    <!--游戏Icon-->
                    <div class="am-form-group">
                        <label for="id-gmIcon" class="am-u-sm-3 am-form-label">封面图 <span
                                class="tpl-form-line-small-title">Icon</span></label>
                        <input th:name="gmIcon" id="id-gmIcon" type="hidden"><!--隐藏表单,存放icon地址-->
                        <div class="am-u-sm-9">
                            <div class="am-form-group am-form-file">
                                <div class="tpl-form-file-img">
                                    <img id="id-reShow-img"
                                         src="http://img.dmdream.cn/214.jpg" alt="">
                                </div>
                                <button type="button" class="am-btn am-btn-danger am-btn-sm"
                                        id="id-btn-addIcon">
                                    <i class="am-icon-cloud-upload"></i> 添加封面图片
                                </button>
                                <input id="id-upload-icon" type="file" accept="image/*" style="font-size: 50rem;"/>
                            </div>
                        </div>
                    </div>
                    <!--介绍视频和图片-->
                    <div class="am-form-group">
                        <label for="id-gmIntroMedia" class="am-u-sm-3 am-form-label">游戏视频和图片 <span
                                class="tpl-form-line-small-title">IntroMedia</span></label>
                        <input th:name="gmIntroMedia" id="id-gmIntroMedia" type="hidden" />
                        <!--隐藏表单,存放gmIntroMedia地址-->
                        <div class="am-u-sm-9">
                            <div class="am-form-group am-form-file">
                                <!--多文件上传插件显示-->
                                <div class="release_up_pic">
                                    <div class="up_pic">
                                        <span id="chose_pic_btn" style="">
                                            <input id="id-upload-multifile" type="file" accept="image/*,video/mp4"/>
                                        </span>
                                    </div>
                                </div>
                                <!--多文件上传插件显示/-->
                            </div>
                        </div>
                    </div>

                    <!--游戏详情-->
                    <div class="am-form-group">
                        <label for="id-gmDetail" class="am-u-sm-3 am-form-label">游戏详情 <span
                                class="tpl-form-line-small-title">Detail</span></label>
                        <div class="am-u-sm-9">
                                            <textarea class="" rows="10" id="id-gmDetail" th:name="gmDetail"
                                                      placeholder="请输入游戏内容"></textarea>
                        </div>
                    </div>

                    <!--提交按钮-->
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" id="id-form-btn-saveOrUpdate"
                                    class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


</div>
<!--发布游戏的表单结束-->


<!--页脚开始-->
<footer class="footer ">
    <div class="footer-container ">
        <div class="footer-link ">
            <div class="footer-link__item ">
                <h4 class="footer-title ">关于我们</h4>
                <ul class="footer-list ">
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">加入我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">联系我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">标签集</a>
                    </li>
                    <li class="item ">
                        <a href="# ">商务合作</a>
                    </li>
                    <li class="item ">
                        <a href="# ">免责声明</a>
                    </li>
                </ul>
            </div>
            <div class="footer-link__item ">
                <h4 class="footer-title ">手机应用</h4>
                <ul class="footer-list ">
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">加入我们</a>
                    </li>
                </ul>
            </div>
            <div class="footer-link__item ">
                <div class="footer-orcode "><img src="/images/app_qrcode.png " alt="# "></div>
                <div class="orcode-text ">
                    <p>扫描二维码</p>
                    <p>下载tang手机客户端</p>
                </div>
            </div>
            <div class="footer-link__item ">
                <h4 class="footer-title ">关注我们</h4>
                <ul class="footer-list ">
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">加入我们</a>
                    </li>
                </ul>
            </div>
            <div class="footer-link__item ">
                <h4 class="footer-title ">友情链接</h4>
                <ul class="footer-list ">
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                    <li class="item ">
                        <a href="# ">关于我们</a>
                    </li>
                    <li class="item ">
                        <a href="# ">帮助中心</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fopter-copyright ">
            <p>©2019 favegame 版权所有。</p>
        </div>
    </div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<!--我自己引用的js插件-->
<script src="/js/jquery.form.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="/assets/js/amazeui.page.js"></script>
<script src="/assets/js/app.js"></script>
<script type="text/javascript" src="/js/gritter/js/jquery.gritter.js"></script>
<script src="https://unpkg.com/qiniu-js@2.5.4/dist/qiniu.min.js"></script>
<script src="/js/common.js"></script>
<!--多文件上传,yoko修改版,依赖了common.js-->
<script type="text/javascript" src="/js/multifile/js/localResizeIMG.js"></script>
<script type="text/javascript" src="/js/multifile/js/patch/mobileBUGFix.mini.js"></script>


<script th:inline="javascript">
    //陈jing写的
    $(function () {
        $("#recommend-dropdown-menu-switch ").hover(function () {
            $("#recommend-dropdown-menu ").removeClass("recommend-dropdown-hide ");
        });
        $("#recommend-dropdown-menu ").mouseleave(function () {
            $("#recommend-dropdown-menu ").addClass("recommend-dropdown-hide ");
        });
    });

    <!--当前页的所有监听函数,需要依赖以上全部js-->
    $(function () {
        //预先查询运营商列表
        handleOperator();
        //处理运营商列表
        function handleOperator() {
            getAjaxPromise("/publisher/all").then(function (value) {
                if (value.status == 200) {
                    var list = value.data;
                    console.log(list);
                    var $operatorSelect = $("#id-gmOperatorId");
                    $operatorSelect.empty();
                    $operatorSelect.append("<option value='-1'>无</option>");
                    for (var i in list) {
                        var option = "<option value=" + list[i].id + ">" + list[i].gmOperatorName + "</option>";
                        $operatorSelect.append(option);
                    }
                } else {
                    showGritter("消息", "运营商列表查询失败,请检查网络!");
                }
            });
        }

        //付费开关
        $("#id-gmFree").on("change", function () {
            var $switchBtn = $(this);
            if ($switchBtn.prop("checked")) {
                $('#id-gmPrice-modal').modal({
                    relatedTarget: this,
                    onConfirm: function (e) {
                        $switchBtn.val(1);//表示收费状态
                        $switchBtn.parent().after("<span style='position: absolute;left:101px;top:3px;'>￥" + e.data + "</span>");//确认后将金额回显
                    },
                    onCancel: function (e) {
                        $switchBtn.removeAttr("checked");
                        $switchBtn.val(0);//表示免费状态
                        $("#id-gmPrice").val("");//将价格置空
                    }
                });
            } else {
                console.log("免费了");
                $("#id-gmPrice").val("");//将价格置空
                $switchBtn.val(0);//表示免费状态
                $switchBtn.parent().parent().children("span").remove();
            }
        });
        //安卓开关
        $("#id-gmPlatformIsAndroid").on("change", function () {
            var $switchBtn = $(this);
            $("#id-android-upload").parent().toggleClass("my-hidden");//开启/关闭安卓下载地址显示
            //取消选择清空下载地址
            if (!$switchBtn.prop("checked")) {
                console.log("无安卓版本");
                $("#id-gmAndroidUrl").val("");//将下载地址置空
                $switchBtn.val(0);//表示不存在安卓版本
            } else {
                $switchBtn.val(1);//表示存在安卓版本
            }
        });
        //监听安卓文件上传
        $("#id-android-upload").on("change", function () {
            var fileName = $(this).val();
            if (fileName == null || fileName == "") return;
            var promiseObj = handleUploadUrl("/publisher/QiniuUpToken", this, $("#id-fileupload-rename"), null, $("#id-gmAndroidUrl"));
            promiseObj.then(function (value) {
                console.log(value);
                console.log("安卓地址已设置:" + $("#id-gmAndroidUrl").val());
            })
        });
        //IOS开关
        $("#id-gmPlatformIsIOS").on("change", function () {
            var $switchBtn = $(this);
            if ($switchBtn.prop("checked")) {
                $('#id-gmIOSUrl-modal').modal({
                    relatedTarget: this,
                    onConfirm: function (e) {
                        $switchBtn.val(1);//表示存在IOS版本
                        $switchBtn.parent().after("<span style='position: absolute;left:101px;top:3px;'>IOS地址已设置</span>");//确认后将IOS地址
                    },
                    onCancel: function (e) {
                        $switchBtn.removeAttr("checked");
                        $switchBtn.val(0);//表示不存在IOS版本
                        $("#id-gmIOSUrl").val("");//将IOS地址置空
                    }
                });
            } else {
                console.log("无IOS版本");
                $switchBtn.val(0);//表示不存在IOS版本
                $("#id-gmIOSUrl").val("");//将IOS地址置空
                $switchBtn.parent().parent().children("span").remove();
            }
        });

        //监听Icon图片上传
        $("#id-upload-icon").on("change", function () {
            // var fileName = $(this).val();
            // if (fileName == null || fileName == "") return;
            var promiseObj = handleUploadUrl("/publisher/QiniuUpToken", this, null, $("#id-reShow-img"), $("#id-gmIcon"));
            promiseObj.then(function (value) {
                //隐藏上传按钮
                $("#id-btn-addIcon").addClass("my-hidden");
                //$("#id-btn-addIcon").attr("disabled", true);
                $("#id-upload-icon").attr("disabled", true);
                console.log(value);
                console.log("游戏Icon地址已设置:" + $("#id-gmIcon").val());
            })
        });

        //监听多文件(图片/视频)上传
        var picArr = new Array();// 存储图片
        $('#id-upload-multifile').localResizeIMG({
            width:400,// 宽度
            quality: 1, // 压缩参数 1 不压缩 越小清晰度越低
            success: function (result) {
                console.log(result);
                if(result.type == "video"){
                    //result.videoUrl = "http://pspq953ox.bkt.clouddn.com/06_ActiveMQ%E5%8F%91%E5%B8%83%E8%AE%A2%E9%98%85%E6%A8%A1%E5%BC%8F%E7%89%B9%E7%82%B9.mp4";
                    var _str = "<span class='pic_look'><video width='100%' height='100%' src='"+result.videoUrl+"'></video><em id='delete_pic'>-</em></span>"
                    $('#chose_pic_btn').before(_str);
                    var _i =  picArr.length
                    picArr[_i] = result.videoUrl;
                    console.log(picArr)
                }else{
                    var img = new Image();
                    img.src = result.base64;
                    var _str = "<span class='pic_look' style='background-image: url("+ img.src + ")'><em id='delete_pic'>-</em></span>"
                    $('#chose_pic_btn').before(_str);
                    var _i =  picArr.length
                    picArr[_i] = result.imgUrl;
                    console.log(picArr)
                }
                //同步处理input标签的value
                handleUrlListSyncToIntroMedia(picArr,$("#id-gmIntroMedia"));
            }
        });
        // 监听多文件上传的删除
        $(document).on('click', '#delete_pic', function(event) {
            var aa = $(this).parents(".pic_look").index();
            picArr.splice(aa,1);
            $(this).parents(".pic_look").remove();
            console.log(picArr);
            //同步处理input标签的value
            handleUrlListSyncToIntroMedia(picArr,$("#id-gmIntroMedia"));
        });
        //文件地址列表和gmIntroMedia隐藏表单标签的同步方法
        function handleUrlListSyncToIntroMedia(list, IntroMediaObj) {
            var listStr = "";
            if (list.length == 1) {
                listStr = list[0];
            }
            if (list.length > 1) {
                listStr = list[0];
                for(var i=1;i<list.length;i++){
                    listStr = listStr + "," + list[i];
                }
            }
            $(IntroMediaObj).val(listStr);
            console.log("当前处理过后的url字符串-已同步到input:" + $(IntroMediaObj).val());
        }

        //监听form表单提交
        $("#id-form-btn-saveOrUpdate").on("click",function () {
            $("#id-form-saveOrUpdate").ajaxSubmit({
                //提交前的回调函数
                beforeSubmit: function (formData, jqForm, options) {
                    //formData: 数组对象，提交表单时，Form插件会以Ajax方式自动提交这些数据，格式如：[{name:user,value:val },{name:pwd,value:pwd}]
                    //jqForm:   jQuery对象，封装了表单的元素
                    //options:  options对象
                    var queryString = $.param(formData);   //name=1&address=2
                    var formElement = jqForm[0];              //将jqForm转换为DOM对象
                    console.log(formElement);//输出表单对象,可以用于获取表单值
                    console.log(queryString);//输出拼接的字符串id=&gmName=&gmVersion=&gmTypeId=-1...

                    //处理所有的必填参数
                    var gmName = formElement.gmName.value;
                    var gmVersion = formElement.gmVersion.value;
                    var gmType = formElement.gmTypeId.value;
                    var gmPubdate = formElement.gmPubdate.value;
                    var gmIcon = formElement.gmIcon.value;
                    var gmIntroMedia = formElement.gmIntroMedia.value;
                    var gmDetail = formElement.gmDetail.value;
                    if(gmName == null || gmName == ""){
                        showGritter("消息","游戏名不能为空!");
                        return false;
                    }
                    if(gmVersion == null || gmVersion == ""){
                        showGritter("消息","游戏版本号不能为空!");
                        return false;
                    }
                    if(gmType == -1 || gmType == null){
                        showGritter("消息","请选择游戏类型!");
                        return false;
                    }
                    if(gmPubdate == null || gmPubdate == ""){
                        showGritter("消息","请选择发布时间!");
                        return false;
                    }
                    if(gmIcon == null || gmIcon == ""){
                        showGritter("消息","请上传游戏Icon!");
                        return false;
                    }
                    if(gmIntroMedia == null || gmIntroMedia == ""){
                        showGritter("消息","请上传游戏简介视频或图片!");
                        return false;
                    }
                    if(gmDetail == null || gmDetail == ""){
                        showGritter("消息","请完善游戏详情介绍!");
                        return false;
                    }
                    //console.log(gmName,gmVersion,gmType,gmPublisher,gmPubdate,gmIcon,gmIntroMedia,gmDetail);
                    return true;  //只要不返回false，表单都会提交,在这里可以对表单元素进行验证
                },
                //成功后的回调函数
                success:function (res) {
                    console.log("inner");
                    console.log(res);
                    if (res.status == 200) {
                        showGritter("消息",res.msg);
                        setTimeout(function(){window.location.reload();},1000);
                    }else{
                        showGritter("消息",res.msg);
                    }
                },
                //这里要是json,要不无success回调
                dataType: 'json',           //html(默认), xml, script, json...接受服务端返回的类型
                //clearForm: true,          //成功提交后，清除所有表单元素的值
                //resetForm: true,          //成功提交后，重置所有表单元素的值
                timeout: 3000,               //限制请求的时间，当请求大于3秒后，跳出请求
            })
        });

    });

</script>

</body>

</html>