<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/common::commonHeaderWithStyleWithoutBootstrap('Fave Game',~{::title},~{::link},~{::style})">
    <title>用户中心</title>
    <!--自己的css-->
    <link>
    <link rel="stylesheet" type="text/css" href="/css/recommend-show.css"/>
    <!--自己的style-->
    <style></style>
</head>

<body>

<div th:replace="commons/common::commonNavBar"></div>

<div th:replace="commons/common::commonNavHover"></div>

<div id="main-container">
    <div id="main">
        <section class="app-search-main recommend-show-page-main" id="main-left">
            <header class="search-main-header">
                <div class="section-title">
                    <h1>搜索结果</h1>
                </div>
                <div class="form-group">
                    <label>
                        <span>排序</span>
                        <select class="form-control input-sm">
                            <option value="hits" selected="">游戏热度</option>
                            <option value="score">游戏评分</option>
                            <option value="released">发布时间</option>
                        </select>
                    </label>
                </div>
            </header>
            <div class="search-main-body" th:if="${games.data.list.size()>0}">
                <div class="search-main-list" id="searchList" data-recommend-show-search-highlight-keyword="rpg"
                     th:each="game : ${games.data.list}">
                    <div class="recommend-show-app-card">
                        <a th:href="${'/gameVo/'+game.id}" class="app-card-left">
                            <img th:src="${game.gmIcon}"/>
                        </a>
                        <div class="app-card-right app-tag-right">
                            <div class="card-app-title">
                                <a th:href="${'/gameVo/'+game.id}" class="card-right-title">
                                    <h4 data-recommend-show-search-highlight="target" class="heightlighted"
                                        th:utext="${game.gmName}">&nbsp;
                                        <small class="recommend-show-app-area" style="vertical-align: text-top">CN
                                        </small>
                                    </h4>
                                </a>
                            </div>
                            <p class="card-right-author">
                                <a th:utext="${game.gmPublisherName}"></a>
                                <span class="title-end"></span>
                            </p>
                            <div class="card-right-rating">
                                <span th:text="${game.gmMark}" style="position: relative;top: 3px">8.1</span>
                                <i class="background"></i>
                                <i class="colored"></i>
                            </div>
                            <span class="card-right-times" th:text="${game.gmOperatorName}"></span>
                            <p class="card-tags">
                                <a class="btn btn-xs btn-default " href="#" th:utext="${game.gmTypeName}">养成</a>
                                <a class="btn btn-xs btn-default " href="#" th:utext="${game.gmDetail}"></a>
                                <a class="btn btn-xs btn-default " href="#">模拟</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-main-body" th:if="${games.data.list.size()==0}">
                <div class="search-main-list" id="searchList" data-recommend-show-search-highlight-keyword="rpg">
                    <div class="recommend-show-app-card">
                        <a class="app-card-left">
                            <img src="/images/list-not-find.png"/>
                        </a>
                        <h1 style="font-size: 30px;position: relative;top: 30px;">没有找到您想要的结果！</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="app-search-side recommend-show-page-side" id="main-right">
            <div class="search-side-body">
                <div class="section-title-side">
                    <h3>最新上架</h3>
                </div>
                <div class="side-body-apps">
                    <div class="recommend-show-side-item" th:each="recommend: ${recommendGames.data.list}">
                        <a class="side-item-left" th:href="${'/gameVo/'+recommend.id}">
                            <img th:src="${recommend.gmIcon}" alt="合成坦克（测试版）" title="合成坦克（测试版）">
                        </a>
                        <div class="side-item-right">
                            <a class="item-right-title flex-text-overflow" th:href="${'/gameVo/'+recommend.id}">
                                <span class="flex-text" th:text="${recommend.gmName}">合成坦克（测试版）</span>
                            </a>
                            <div class="item-right-label">
                                <a href="#" th:text="${recommend.gmTypeName}">休闲</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:replace="commons/common::commonFooter(~{::script})">
    <script>
        $(function () {
            $(".cancle-collection").click(function () {
                var gameId = $(this).children()[0].innerText;
                var path = window.location.pathname;
                console.log(path);
                $.ajax({
                    type: "post",
                    url: "deleteCollection/" + gameId,
//                data: comment,
                    success: function (back) {
                        location.reload();
//                    console.log(back);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("error");

                    }
                });
            });
        });
    </script>
</div>

</body>

</html>